## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(101),80)

print(len(sample_list_1))
print(sample_list_1)

80
[55, 10, 72, 29, 81, 57, 73, 8, 96, 39, 32, 91, 30, 63, 100, 23, 86, 83, 78, 45, 11, 89, 71, 13, 67, 6, 7, 98, 27, 77, 14, 69, 25, 82, 75, 12, 22, 59, 49, 68, 85, 94, 38, 50, 61, 52, 84, 70, 62, 3, 31, 18, 90, 1, 99, 97, 87, 16, 19, 56, 95, 40, 48, 66, 42, 44, 37, 93, 33, 80, 47, 2, 88, 20, 79, 43, 15, 46, 64, 9]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1=(set(sample_list_1))

print(len(set1))
print(set1)

80
{1, 2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 22, 23, 25, 27, 29, 30, 31, 32, 33, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 55, 56, 57, 59, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
#sample_list_2 =[random.sample(100,80) for i in range(101)]

sample_list_2 = [random.randrange(0,100) for i in range(80)]


print(len(sample_list_2))
print(sample_list_2)

80
[95, 86, 91, 79, 46, 97, 82, 60, 40, 74, 75, 52, 50, 26, 68, 58, 91, 77, 87, 70, 87, 70, 56, 99, 91, 74, 55, 17, 32, 84, 97, 63, 80, 93, 63, 30, 74, 97, 83, 38, 26, 99, 54, 49, 7, 12, 41, 99, 9, 39, 83, 27, 53, 43, 37, 61, 83, 27, 45, 44, 23, 65, 31, 40, 45, 91, 3, 54, 88, 9, 33, 49, 23, 79, 35, 67, 92, 76, 0, 30]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2=(set(sample_list_2))

print(len(set2))
print(set2)
print("\n")
print("Duplicates Not Allowed, Sets cannot have two items with the same value.")

56
{0, 3, 7, 9, 12, 17, 23, 26, 27, 30, 31, 32, 33, 35, 37, 38, 39, 40, 41, 43, 44, 45, 46, 49, 50, 52, 53, 54, 55, 56, 58, 60, 61, 63, 65, 67, 68, 70, 74, 75, 76, 77, 79, 80, 82, 83, 84, 86, 87, 88, 91, 92, 93, 95, 97, 99}


Duplicates Not Allowed, Sets cannot have two items with the same value.

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set1=(set(sample_list_1))
set2=(set(sample_list_2))

set3=(set1.difference(set2))

print(set3)
print("\n","The difference() method returns a set that contains the difference between two sets.")

{1, 2, 6, 8, 10, 11, 13, 14, 15, 16, 18, 19, 20, 22, 25, 29, 42, 47, 48, 57, 59, 62, 64, 66, 69, 71, 72, 73, 78, 81, 85, 89, 90, 94, 96, 98, 100}

 The difference() method returns a set that contains the difference between two sets.

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set1=(set(sample_list_1))
set2=(set(sample_list_2))

set4=(set2.difference(set1))

print(set4)
print("\n","The difference() method returns a set that contains the difference between two sets.")

{0, 65, 35, 58, 41, 74, 76, 92, 17, 53, 54, 26, 60}

 The difference() method returns a set that contains the difference between two sets.

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set1=(set(sample_list_1))
set2=(set(sample_list_2))

set5=(set1.intersection(set2))

print(set5)

print("\n","Returns a set, that is the intersection of two other sets")

{3, 7, 9, 12, 23, 27, 30, 31, 32, 33, 37, 38, 39, 40, 43, 44, 45, 46, 49, 50, 52, 55, 56, 61, 63, 67, 68, 70, 75, 77, 79, 80, 82, 83, 84, 86, 87, 88, 91, 93, 95, 97, 99}

 Returns a set, that is the intersection of two other sets

#### 8 - Create an empty set called `set6`.

In [9]:
# Your code here
set6=set()

print(set6)

set()

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [25]:
# Your code here

set3=(set1.difference(set2))
print("\n",set3)
set5=(set1.intersection(set2))
print("\n",set5)

set_uni= set3.union(set5)

set6.update(set_uni)

print("\n","\n",set6)

 {1, 2, 6, 8, 10, 11, 13, 14, 15, 16, 18, 19, 20, 22, 25, 29, 42, 47, 48, 57, 59, 62, 64, 66, 69, 71, 72, 73, 78, 81, 85, 89, 90, 94, 96, 98, 100}

 {3, 7, 9, 12, 23, 27, 30, 31, 32, 33, 37, 38, 39, 40, 43, 44, 45, 46, 49, 50, 52, 55, 56, 61, 63, 67, 68, 70, 75, 77, 79, 80, 82, 83, 84, 86, 87, 88, 91, 93, 95, 97, 99}


 {1, 2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 22, 23, 25, 27, 29, 30, 31, 32, 33, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 55, 56, 57, 59, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

#### 10 - Check if `set1` and `set6` are equal.

In [36]:
# Your code here
print(set1,"\n")
print(set6,"\n")

equal= set1.issuperset(set6)
print(equal,"\n","The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it retuns False.")

{1, 2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 22, 23, 25, 27, 29, 30, 31, 32, 33, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 55, 56, 57, 59, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

{1, 2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 22, 23, 25, 27, 29, 30, 31, 32, 33, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 55, 56, 57, 59, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

True
 The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it retuns False.

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [40]:
# Your code here
checkset1=set1.issubset(set2)

print(checkset1)

checkset2=set1.issubset(set3)
print(checkset2)

False
False

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [106]:
# Your code here
aggregate=set3.union(set4,set5)
print(aggregate)

print("\n",aggregate.union(set2,set1))

{0, 1, 2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 29, 30, 31, 32, 33, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

 {0, 1, 2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 29, 30, 31, 32, 33, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [46]:
# Your code here
print(set1)

set1.pop()

print("\n",set1)

{2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 22, 23, 25, 27, 29, 30, 31, 32, 33, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 55, 56, 57, 59, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

 {3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 22, 23, 25, 27, 29, 30, 31, 32, 33, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 55, 56, 57, 59, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [55]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_list_to_remove= set(list_to_remove)
print(set_list_to_remove,"\n")

print(set1,"\n")

set1.difference_update(set_list_to_remove)

print(set1)

{1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}

{3, 6, 7, 8, 10, 12, 13, 14, 15, 16, 18, 20, 22, 23, 25, 27, 30, 32, 33, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 55, 56, 57, 62, 63, 64, 66, 67, 68, 70, 72, 73, 75, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 95, 96, 97, 98, 100}

{3, 6, 7, 8, 10, 12, 13, 14, 15, 16, 18, 20, 22, 23, 25, 27, 30, 32, 33, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 55, 56, 57, 62, 63, 64, 66, 67, 68, 70, 72, 73, 75, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 95, 96, 97, 98, 100}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [56]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [81]:
# Your code here
father_set=set(father_list)
print(father_set,"\n")

mother_set =set(mother_list)
print(mother_set,"\n")

Jo_set =set(Jo_list)
print(Jo_set,"\n")

Carlos_set =set(Carlos_list)
print(Carlos_set,"\n")

Mattia_set =set(Mattia_list)
print(Mattia_set,"\n")

{'watermelon', 'garlic', 'onions', 'cucumber', 'toilet paper', 'flour', 'gums', 'yogurt'}

set()

{'watermelon', 'garlic', 'blueberries', 'juice', 'tomatoes', 'onions', 'cucumber', 'milk', 'sugar', 'gums', 'yogurt'}

{'garlic', 'blueberries', 'water', 'onions', 'tomatoes', 'cherries', 'toilet paper', 'flour'}

set()

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [83]:
# Your code here
Mattia_set=Carlos_set.symmetric_difference(Jo_set)

print(Mattia_set)

{'watermelon', 'water', 'juice', 'cucumber', 'milk', 'sugar', 'cherries', 'toilet paper', 'flour', 'gums', 'yogurt'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [84]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['blueberries', 'watermelon', 'cucumber', 'yogurt', 'bread', 'water', 'sugar', 'juice', 'flour', 'deodorant']

In [85]:
# Your code here
mother_set =set(mother_list)
print(mother_set,"\n")

{'watermelon', 'blueberries', 'water', 'cucumber', 'bread', 'juice', 'sugar', 'flour', 'deodorant', 'yogurt'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [122]:
# Your code here
aggregate_grocery= mother_set.union(father_set,Jo_set, Carlos_set, Mattia_set)

print(aggregate_grocery,'\n')


for product in aggregate_grocery:
    if product == 'toilet paper':
        mother_set.discard('toilet paper')
        father_set.discard('toilet paper')
        Jo_set.discard('toilet paper')
        Carlos_set.discard('toilet paper')
        Mattia_set.discard('toilet paper')
    else:
        continue

        
print(father_set,"\n")
print(mother_set,"\n")
print(Jo_set,"\n")
print(Carlos_set,"\n")
print(Mattia_set,"\n")


# mother_set.discard('toilet paper')

# print(mother_set,"\n")

{'watermelon', 'blueberries', 'water', 'cucumber', 'milk', 'cherries', 'flour', 'gums', 'yogurt', 'garlic', 'juice', 'bread', 'onions', 'tomatoes', 'sugar', 'deodorant'}

{'watermelon', 'garlic', 'onions', 'cucumber', 'flour', 'gums', 'yogurt'}

{'watermelon', 'blueberries', 'water', 'cucumber', 'bread', 'juice', 'sugar', 'flour', 'deodorant', 'yogurt'}

{'watermelon', 'garlic', 'blueberries', 'juice', 'tomatoes', 'onions', 'cucumber', 'milk', 'sugar', 'gums', 'yogurt'}

{'garlic', 'blueberries', 'water', 'onions', 'tomatoes', 'cherries', 'flour'}

{'watermelon', 'water', 'juice', 'cucumber', 'milk', 'sugar', 'cherries', 'flour', 'gums', 'yogurt'}

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [128]:
# Your code here
family_list=father_list+mother_list+Jo_list+Carlos_list+Mattia_list
print(family_list,"\n")

family_list_set=(set(family_list))
print(family_list_set,"\n")

['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic', 'blueberries', 'watermelon', 'cucumber', 'yogurt', 'bread', 'water', 'sugar', 'juice', 'flour', 'deodorant', 'blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt', 'tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

{'watermelon', 'garlic', 'blueberries', 'water', 'onions', 'cucumber', 'bread', 'juice', 'tomatoes', 'milk', 'sugar', 'toilet paper', 'cherries', 'flour', 'gums', 'deodorant', 'yogurt'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [131]:
# Your code here
import random

print(random.sample(family_list_set,len(family_list_set)-5))

['watermelon', 'cucumber', 'milk', 'flour', 'sugar', 'juice', 'bread', 'garlic', 'water', 'tomatoes', 'toilet paper', 'yogurt']