## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [87]:
# Your code here
import random

sample_list_1= random.sample(range(100), k=80)

sample_list_1

[94,
 86,
 93,
 73,
 12,
 22,
 46,
 75,
 69,
 37,
 32,
 11,
 65,
 77,
 57,
 40,
 74,
 16,
 84,
 58,
 47,
 51,
 67,
 45,
 36,
 25,
 15,
 59,
 30,
 71,
 27,
 54,
 26,
 98,
 17,
 91,
 28,
 18,
 39,
 70,
 63,
 97,
 87,
 52,
 80,
 8,
 0,
 29,
 92,
 4,
 43,
 3,
 13,
 82,
 62,
 7,
 72,
 49,
 76,
 99,
 42,
 56,
 61,
 34,
 9,
 50,
 35,
 68,
 10,
 23,
 31,
 55,
 2,
 20,
 24,
 33,
 44,
 64,
 83,
 5]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [172]:
# Your code here

import random

sample_list_1= set(random.sample(range(100), k=80))

set1=sample_list_1
print(set1)
print(len(set1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 27, 28, 30, 31, 35, 36, 37, 38, 39, 40, 41, 42, 45, 46, 47, 48, 49, 50, 52, 53, 55, 58, 59, 60, 62, 63, 65, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [181]:
# Your code here

import random
   
sample_list_2= [random.choice(range(101)) for i in range(80)]
print(sample_list_2)

#sample_list_2=[]

#for n in range(100):
#   sample_list_2.append(random.choice(range(1,80)))
    
#print(set(sample_list_2))

[96, 27, 76, 1, 59, 35, 76, 31, 61, 28, 36, 85, 51, 16, 78, 57, 76, 62, 96, 13, 18, 12, 95, 69, 69, 42, 18, 29, 47, 43, 2, 20, 29, 23, 26, 25, 29, 0, 27, 54, 62, 75, 34, 87, 13, 37, 2, 39, 67, 76, 9, 30, 25, 81, 25, 73, 55, 4, 55, 18, 63, 100, 22, 75, 61, 26, 86, 87, 0, 59, 85, 36, 61, 14, 19, 71, 11, 4, 67, 59]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [182]:
# Your code here

set2= set(sample_list_2)

print(len(set2))

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [183]:
# Your code here


set3=[]

for i in set1:
    if i not in set2:
        set3.append(i)
print(set(set3))

print(len(set3))

{66, 3, 98, 70, 7, 8, 77, 46, 15, 80, 82, 83, 52, 24, 90, 92}
16

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [184]:
# Your code here

set4=[]
for i in set2:
    if i not in set1:
        set4.append(i)
print(set(set4))
print(len(set4))

{0, 1, 2, 14, 16, 26, 27, 29, 30, 34, 35, 36, 37, 39, 43, 47, 51, 54, 55, 57, 59, 61, 62, 63, 69, 71, 73, 75, 76, 78, 81, 85, 95, 100}
34

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [185]:
# Your code here

set5=[]

for i in set1:
    if i in set2:
        set5.append(i)
print(set(set5))
print(len(set5))

{96, 67, 4, 9, 42, 11, 12, 13, 18, 19, 20, 22, 23, 86, 25, 87, 28, 31}
18

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [193]:
# Your code here

len_set1= 80
len_set2= 52
len_set3= 16
len_set4= 34
len_set5= 18

len_set1== len_set3+len_set5
print(len_set1)

len_set2== len_set4+len_set5
print(len_set2)

len_set3== len_set1 - len_set5
print(len_set3)

len_set4== len_set2 - len_set5
print(len_set4)

len_set5== len_set1 - len_set2
print(len_set5)

80
52
16
34
18

#### Create an empty set called `set6`.

In [94]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [152]:
# Your code here

set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 29, 31, 32, 33, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 50, 51, 54, 55, 56, 57, 58, 59, 63, 64, 65, 66, 67, 68, 69, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97}

#### Check if `set1` and `set6` are equal.

In [142]:
# Your code here

print(set1)

print(set6)

are_equals=set.intersection(set1,set6)
print(are_equals)

if set1==set6:
    print("they are equals!")
            
#how to print only one time?

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 29, 31, 32, 33, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 50, 51, 54, 55, 56, 57, 58, 59, 63, 64, 65, 66, 67, 68, 69, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 29, 31, 32, 33, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 50, 51, 54, 55, 56, 57, 58, 59, 63, 64, 65, 66, 67, 68, 69, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 29, 31, 32, 33, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 50, 51, 54, 55, 56, 57, 58, 59, 63, 64, 65, 66, 67, 68, 69, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97}
they are equals!

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [171]:
# Your code here

set3=set(set3)

set1_contains_set2 = set2.issubset(set1)
print(set1_contains_set2)

set1_contains_set3 = set3.issubset(set1)
print(set1_contains_set3)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [161]:
# Your code here

set3=set(set3)

union_sets1 = set3.union(set4,set5)

union_sets2= union_sets1.union(set1,set2)

print(union_sets1)

print(union_sets2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97}

#### Using the `pop` method, remove the first element from `set1`.

In [163]:
# Your code here

set1.pop()
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 29, 31, 32, 33, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 50, 51, 54, 55, 56, 57, 58, 59, 63, 64, 65, 66, 67, 68, 69, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [166]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1.difference_update(list_to_remove) 

print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 27, 32, 33, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 54, 55, 56, 57, 58, 63, 64, 65, 66, 67, 68, 73, 74, 75, 76, 77, 80, 82, 83, 84, 87, 88, 90, 92, 93, 94, 95, 96, 97}