## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [320]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [321]:
# Your code here
sample_list_1 = random.sample(range(101), k = 80)
print(sample_list_1)

[70, 8, 2, 14, 32, 22, 93, 81, 100, 0, 92, 6, 63, 75, 19, 40, 55, 90, 21, 38, 33, 29, 53, 59, 74, 39, 34, 24, 96, 1, 37, 20, 9, 67, 71, 56, 82, 54, 76, 95, 89, 28, 98, 18, 72, 62, 46, 27, 66, 64, 44, 26, 15, 41, 88, 48, 13, 50, 57, 4, 47, 51, 10, 83, 73, 7, 79, 45, 30, 87, 60, 94, 99, 5, 97, 36, 65, 17, 52, 12]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [322]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))
print("Yes, the length is still 80.")

80
Yes, the length is still 80.

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [323]:
# Your code here
#sample_list_2 = [random.choice(range(10)) for i in range(10)]
#print(sample_list_2)

sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.choice(range(101)))

print(sample_list_2)

[24, 100, 89, 38, 92, 9, 71, 38, 62, 92, 22, 41, 71, 3, 83, 7, 46, 88, 35, 77, 75, 7, 87, 20, 43, 41, 76, 14, 69, 71, 32, 64, 12, 34, 75, 2, 17, 92, 48, 38, 97, 90, 77, 86, 13, 71, 38, 27, 80, 5, 34, 67, 89, 63, 44, 88, 35, 13, 12, 44, 92, 13, 78, 2, 30, 64, 61, 47, 57, 41, 5, 99, 94, 44, 44, 97, 32, 1, 88, 70]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [324]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
print("No, the length is not 80 anymore because I specifically created a list with duplicates.")

50
No, the length is not 80 anymore because I specifically created a list with duplicates.

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [325]:
# Your code here
set3 = set1 - set2
print(set3)

{0, 4, 6, 8, 10, 15, 18, 19, 21, 26, 28, 29, 33, 36, 37, 39, 40, 45, 50, 51, 52, 53, 54, 55, 56, 59, 60, 65, 66, 72, 73, 74, 79, 81, 82, 93, 95, 96, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [326]:
# Your code here
set4 = set2 - set1
print(set4)

{35, 3, 69, 43, 77, 78, 80, 86, 61}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [327]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{1, 2, 5, 7, 9, 12, 13, 14, 17, 20, 22, 24, 27, 30, 32, 34, 38, 41, 44, 46, 47, 48, 57, 62, 63, 64, 67, 70, 71, 75, 76, 83, 87, 88, 89, 90, 92, 94, 97, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [328]:
# Your code here
print("Length of set1:", len(set1))
print("Length of set2:", len(set2))
print("Length of set3:", len(set3))
print("Length of set4:", len(set4))
print("Length of set5:", len(set5))

set1_and_set2 = set1.union(set2)
print("\nUnion of sets 1 and 2:", set1_and_set2)

set3_and_set4 = set3.union(set4)
print("\nUnion of sets 3 and 4:", set3_and_set4)

sets_3_4_5 = set3_and_set4.union(set5)
print("\nUnion of sets 3, 4, 5:", sets_3_4_5)

# Here we can see that the union of sets 1 and 2 are equal to the union of sets 3, 4 and 5.
if set1_and_set2 == sets_3_4_5:
    print("\nThe union of sets 1 and 2 are equal to the union of sets 3, 4 and 5. That's their relationship.")

Length of set1: 80
Length of set2: 50
Length of set3: 39
Length of set4: 9
Length of set5: 41

Union of sets 1 and 2: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99, 100}

Union of sets 3 and 4: {0, 3, 4, 6, 8, 10, 15, 18, 19, 21, 26, 28, 29, 33, 35, 36, 37, 39, 40, 43, 45, 50, 51, 52, 53, 54, 55, 56, 59, 60, 61, 65, 66, 69, 72, 73, 74, 77, 78, 79, 80, 81, 82, 86, 93, 95, 96, 98}

Union of sets 3, 4, 5: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99, 100}

The union of sets 1 and 2 are equal to the union of sets 3, 4 and 5. That's their relationship.

#### Create an empty set called `set6`.

In [329]:
# Your code here
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [330]:
# Your code here
set6.update(set3, set5)
print(set6)

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 29, 30, 32, 33, 34, 36, 37, 38, 39, 40, 41, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 64, 65, 66, 67, 70, 71, 72, 73, 74, 75, 76, 79, 81, 82, 83, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [331]:
# Your code here
if set1 == set6:
    print("set1 is equal to set6.")

set1 is equal to set6.

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [332]:
# Your code here
print(str(set2.issubset(set1)) + ". Set1 does not contain set2.")
print(str(set3.issubset(set1)) + ". Set1 contains set3.")

False. Set1 does not contain set2.
True. Set1 contains set3.

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [333]:
# Your code here

# I did it above in the part where we needed to check the relationships between sets.

#### Using the `pop` method, remove the first element from `set1`.

In [335]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [348]:
# Your code here
list_to_remove = set([1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99])
updated_set1 = set1 - list_to_remove
print(updated_set1)

{2, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 17, 18, 20, 22, 24, 26, 27, 28, 30, 32, 33, 34, 36, 37, 38, 40, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 60, 62, 63, 64, 65, 66, 67, 70, 72, 73, 74, 75, 76, 82, 83, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}