## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(0, 100), 80)

print(sample_list_1)

#check if there are 80 values
len(sample_list_1)

#check if there's any duplicate value
for num in sample_list_1:
    print(num,sample_list_1.count(num))

[86, 13, 12, 93, 50, 2, 15, 72, 71, 98, 4, 33, 63, 34, 11, 99, 27, 57, 19, 42, 44, 84, 37, 43, 45, 74, 28, 82, 56, 69, 95, 35, 14, 83, 3, 47, 66, 5, 41, 8, 58, 89, 81, 49, 55, 22, 90, 85, 62, 48, 39, 94, 1, 87, 70, 32, 36, 59, 6, 18, 61, 97, 68, 31, 76, 10, 60, 73, 23, 96, 26, 77, 0, 25, 88, 24, 38, 40, 64, 17]
86 1
13 1
12 1
93 1
50 1
2 1
15 1
72 1
71 1
98 1
4 1
33 1
63 1
34 1
11 1
99 1
27 1
57 1
19 1
42 1
44 1
84 1
37 1
43 1
45 1
74 1
28 1
82 1
56 1
69 1
95 1
35 1
14 1
83 1
3 1
47 1
66 1
5 1
41 1
8 1
58 1
89 1
81 1
49 1
55 1
22 1
90 1
85 1
62 1
48 1
39 1
94 1
1 1
87 1
70 1
32 1
36 1
59 1
6 1
18 1
61 1
97 1
68 1
31 1
76 1
10 1
60 1
73 1
23 1
96 1
26 1
77 1
0 1
25 1
88 1
24 1
38 1
40 1
64 1
17 1

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)

print(set1)

{0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 15, 17, 18, 19, 22, 23, 24, 25, 26, 27, 28, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 68, 69, 70, 71, 72, 73, 74, 76, 77, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 93, 94, 95, 96, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = [] 

valor = random.choice(range(0,100))
valor

for item in range(0,100):
    sample_list_2.append(random.choice(range(0,100)))
    
print(sample_list_2)

len(sample_list_2)

#check if there's any duplicate value
for num in sample_list_2:
    print(num,sample_list_2.count(num))

[89, 57, 58, 71, 35, 99, 38, 66, 36, 93, 42, 68, 22, 80, 55, 76, 33, 60, 97, 67, 5, 61, 61, 2, 18, 13, 80, 56, 38, 16, 54, 78, 3, 35, 24, 81, 30, 94, 75, 42, 96, 34, 5, 53, 38, 68, 26, 72, 39, 52, 21, 64, 85, 42, 66, 64, 34, 97, 69, 66, 70, 71, 42, 27, 8, 77, 18, 45, 3, 39, 19, 39, 0, 48, 46, 79, 26, 21, 88, 87, 86, 58, 26, 13, 19, 34, 90, 57, 90, 28, 10, 7, 64, 91, 41, 8, 12, 24, 84, 81]
89 1
57 2
58 2
71 2
35 2
99 1
38 3
66 3
36 1
93 1
42 4
68 2
22 1
80 2
55 1
76 1
33 1
60 1
97 2
67 1
5 2
61 2
61 2
2 1
18 2
13 2
80 2
56 1
38 3
16 1
54 1
78 1
3 2
35 2
24 2
81 2
30 1
94 1
75 1
42 4
96 1
34 3
5 2
53 1
38 3
68 2
26 3
72 1
39 3
52 1
21 2
64 3
85 1
42 4
66 3
64 3
34 3
97 2
69 1
66 3
70 1
71 2
42 4
27 1
8 2
77 1
18 2
45 1
3 2
39 3
19 2
39 3
0 1
48 1
46 1
79 1
26 3
21 2
88 1
87 1
86 1
58 2
26 3
13 2
19 2
34 3
90 2
57 2
90 2
28 1
10 1
7 1
64 3
91 1
41 1
8 2
12 1
24 2
84 1
81 2

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 =  set(sample_list_2)

print(set2)

# Lenght isn't 80
len(set2)

{0, 2, 3, 5, 7, 8, 10, 12, 13, 16, 18, 19, 21, 22, 24, 26, 27, 28, 30, 33, 34, 35, 36, 38, 39, 41, 42, 45, 46, 48, 52, 53, 54, 55, 56, 57, 58, 60, 61, 64, 66, 67, 68, 69, 70, 71, 72, 75, 76, 77, 78, 79, 80, 81, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 96, 97, 99}

67

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

set3 = set1.difference(set2)

print(set3)

{1, 4, 6, 11, 14, 15, 17, 23, 25, 31, 32, 37, 40, 43, 44, 47, 49, 50, 59, 62, 63, 73, 74, 82, 83, 95, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here

set4 = set2.difference(set1)

print(set4)

{67, 7, 75, 46, 78, 16, 79, 80, 52, 21, 53, 54, 91, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here

set5 = set1.intersection(set2)

print(set5)

{0, 2, 3, 5, 8, 10, 12, 13, 18, 19, 22, 24, 26, 27, 28, 33, 34, 35, 36, 38, 39, 41, 42, 45, 48, 55, 56, 57, 58, 60, 61, 64, 66, 68, 69, 70, 71, 72, 76, 77, 81, 84, 85, 86, 87, 88, 89, 90, 93, 94, 96, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here

#### Create an empty set called `set6`.

In [10]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here

set6.update(set3, set5, set6)

print(set6)

{0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 15, 17, 18, 19, 22, 23, 24, 25, 26, 27, 28, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 68, 69, 70, 71, 72, 73, 74, 76, 77, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
if set1 == set6:
    print("ok")
else:
    print("not equal")

#check differences between sets
print(set1.difference(set6))

ok
set()

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here

print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here

print(set.union(set3, set4, set5))

print(set.union(set1, set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here

set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [17]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

#Is there any value set1 that match list_to_remove? 

set1.intersection(list_to_remove)


for num in set1.intersection(list_to_remove):
    set1.remove(num)
print(set1)

{2, 3, 4, 5, 6, 8, 10, 12, 13, 14, 15, 17, 18, 22, 23, 24, 25, 26, 27, 28, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 47, 48, 50, 55, 56, 57, 58, 60, 62, 63, 64, 66, 68, 70, 72, 73, 74, 76, 77, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 95, 96, 97, 98}