## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [157]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [158]:
# Your code here
sample_list_1= random.sample(range(100),k=80)
sample_list_1

[8,
 84,
 54,
 99,
 62,
 35,
 80,
 57,
 81,
 55,
 73,
 33,
 85,
 27,
 20,
 37,
 53,
 76,
 23,
 36,
 63,
 69,
 26,
 7,
 0,
 67,
 66,
 98,
 38,
 48,
 14,
 68,
 2,
 97,
 28,
 64,
 74,
 72,
 34,
 45,
 95,
 30,
 6,
 47,
 51,
 46,
 88,
 86,
 42,
 90,
 92,
 79,
 13,
 75,
 91,
 50,
 71,
 15,
 25,
 21,
 82,
 32,
 93,
 58,
 16,
 59,
 11,
 56,
 5,
 3,
 4,
 17,
 39,
 94,
 52,
 43,
 44,
 19,
 60,
 22]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [159]:
# Your code here
set1=set(sample_list_1)
set1

{0,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 11,
 13,
 14,
 15,
 16,
 17,
 19,
 20,
 21,
 22,
 23,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 62,
 63,
 64,
 66,
 67,
 68,
 69,
 71,
 72,
 73,
 74,
 75,
 76,
 79,
 80,
 81,
 82,
 84,
 85,
 86,
 88,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 98,
 99}

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [160]:
# Your code here

sample_list_2 = []
for i in range(0,80):
    n = random.randint(1,100)
    sample_list_2.append(n)
print(sample_list_2)

[69, 96, 61, 18, 12, 49, 97, 60, 97, 46, 43, 26, 55, 10, 2, 35, 13, 20, 3, 90, 94, 3, 52, 100, 66, 89, 86, 40, 79, 68, 74, 64, 79, 100, 89, 17, 6, 42, 27, 4, 88, 6, 39, 18, 41, 66, 59, 45, 20, 46, 95, 80, 79, 35, 95, 70, 74, 44, 49, 100, 40, 59, 94, 50, 69, 23, 78, 92, 25, 34, 7, 82, 84, 86, 5, 47, 15, 2, 31, 17]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [161]:
# Your code here
set2=set(sample_list_2)
set2

{2,
 3,
 4,
 5,
 6,
 7,
 10,
 12,
 13,
 15,
 17,
 18,
 20,
 23,
 25,
 26,
 27,
 31,
 34,
 35,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 49,
 50,
 52,
 55,
 59,
 60,
 61,
 64,
 66,
 68,
 69,
 70,
 74,
 78,
 79,
 80,
 82,
 84,
 86,
 88,
 89,
 90,
 92,
 94,
 95,
 96,
 97,
 100}

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [162]:
# Your code here

intersect= set1.intersection(set2)

set3=  set1-intersect
set3
# set3=set1-set2
# set3
#set1 = 80 random unique values, set2 = 80 random values (could be repeating)

{0,
 8,
 11,
 14,
 16,
 19,
 21,
 22,
 28,
 30,
 32,
 33,
 36,
 37,
 38,
 48,
 51,
 53,
 54,
 56,
 57,
 58,
 62,
 63,
 67,
 71,
 72,
 73,
 75,
 76,
 81,
 85,
 91,
 93,
 98,
 99}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [163]:
# Your code here
set4=set2-intersect
set4
#set2=80values random, set1=100values, all 0-100

{10, 12, 18, 31, 40, 41, 49, 61, 70, 78, 89, 96, 100}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [164]:
# Your code here
set5= intersect
set5

{2,
 3,
 4,
 5,
 6,
 7,
 13,
 15,
 17,
 20,
 23,
 25,
 26,
 27,
 34,
 35,
 39,
 42,
 43,
 44,
 45,
 46,
 47,
 50,
 52,
 55,
 59,
 60,
 64,
 66,
 68,
 69,
 74,
 79,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 95,
 97}

#### 8 - Create an empty set called `set6`.

In [165]:
# Your code here
set6=set()
set6

set()

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [166]:
# Your code here
set6.update(set3,set5)
set6

{0,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 11,
 13,
 14,
 15,
 16,
 17,
 19,
 20,
 21,
 22,
 23,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 62,
 63,
 64,
 66,
 67,
 68,
 69,
 71,
 72,
 73,
 74,
 75,
 76,
 79,
 80,
 81,
 82,
 84,
 85,
 86,
 88,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 98,
 99}

#### 10 - Check if `set1` and `set6` are equal.

In [167]:
# Your code here
set1==set6
# yes because set 3 =set1-intersection, and set5 is the intersection, so we are making set1 complete again

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [168]:
# Your code here
set2.issubset(set1)
#set2 is a random set of number different from set1
#hence set1 does not contain all of set2

False

In [169]:
set3.issubset(set1)
#set3 = set1-intersection, hence set1 must contain all of set3

True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [174]:
# Your code here
union1= set3.union(set4,set5)
union2= union1.union(set1,set2)

print(union2)

{0, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [180]:
# Your code here
temp_list = list(set1)

temp_list.pop(9)

temp_list
#pop returns by default an arbitrary number and cannot be set to returned a specific index number
# also sets dont have an innate order and hence cant be indexed
#default value of pop = -1, so it returns the last item (but how if it doesnt have an order? do they mean the last item added to the list?)
#hence set1.pop([-1]) doesnt work
#pop takes the argument as an index
#what you put into

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 11,
 13,
 14,
 15,
 16,
 17,
 19,
 20,
 21,
 22,
 23,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 62,
 63,
 64,
 66,
 67,
 68,
 69,
 71,
 72,
 73,
 74,
 75,
 76,
 79,
 80,
 81,
 82,
 84,
 85,
 86,
 88,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 98]

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [86]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1.difference_update(list_to_remove)
set1

{2,
 3,
 5,
 6,
 10,
 12,
 13,
 15,
 17,
 18,
 20,
 22,
 23,
 24,
 25,
 26,
 27,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 40,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 52,
 53,
 54,
 55,
 57,
 58,
 60,
 62,
 63,
 64,
 65,
 67,
 70,
 72,
 73,
 74,
 76,
 77,
 78,
 82,
 83,
 84,
 85,
 86,
 87,
 90,
 92,
 94,
 95,
 97,
 98}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.


father_list = [‘garlic’, ‘watermelon’, ‘toilet paper’, ‘yogurt’, ‘onions’, ‘gums’, ‘flour’, ‘cucumber’, ‘watermelon’, ‘yogurt’, ‘garlic’] mother_list = [] Jo_list = [‘blueberries’, ‘sugar’, ‘watermelon’, ‘gums’, ‘tomatoes’, ‘yogurt’, ‘juice’, ‘milk’, ‘onions’, ‘garlic’, ‘cucumber’, ‘sugar’, ‘blueberries’, ‘gums’, ‘yogurt’] Carlos_list = [‘tomatoes’, ‘water’, ‘onions’, ‘blueberries’, ‘garlic’, ‘flour’, ‘cherries’, ‘tomatoes’, ‘onions’, ‘water’, ‘tomatoes’, ‘toilet paper’] Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [231]:
# Your code here
#set for each family member, am I supposed to imagine the items on the list?

father_list = ["garlic" , "watermelon", "toilet paper", "yogurt", "onions", 
               "gums", "flour", "cucumber", "watermelon", "yogurt", "garlic"]
mother_list = []
Jo_list = ["blueberries", "sugar", "watermelon", "gums", "tomatoes", "yogurt",
           "juice", "milk", "onions", "garlic", "cucumber", "sugar", 
           "blueberries", "gums", "yogurt"]
Carlos_list = ["tomatoes", "water", "onions", "blueberries", "garlic", "flour",
               "cherries", "tomatoes", "onions", "water", "tomatoes", "toilet paper"]
Mattia_list = []

In [232]:
Carlos_set= set(Carlos_list)
Jo_set=set(Jo_list)
Mattia_set=set(Mattia_list)

In [233]:
flatlist= father_list + Jo_list + Carlos_list
flatlist

['garlic',
 'watermelon',
 'toilet paper',
 'yogurt',
 'onions',
 'gums',
 'flour',
 'cucumber',
 'watermelon',
 'yogurt',
 'garlic',
 'blueberries',
 'sugar',
 'watermelon',
 'gums',
 'tomatoes',
 'yogurt',
 'juice',
 'milk',
 'onions',
 'garlic',
 'cucumber',
 'sugar',
 'blueberries',
 'gums',
 'yogurt',
 'tomatoes',
 'water',
 'onions',
 'blueberries',
 'garlic',
 'flour',
 'cherries',
 'tomatoes',
 'onions',
 'water',
 'tomatoes',
 'toilet paper']

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [234]:
# Your code here
# intersection_cj = carlos_list.intersection(jo_list)
# mattia_list= (carlos_list) + (jo_list) - (intersection_cj)
Mattia_set=set(Mattia_list)
Mattia_set=Carlos_set.symmetric_difference_update(Jo_set)
print(Mattia_set)
#None is wrong,.symmetric_difference_update is supposed to return all elements from carlos and jo minus their intersection, so it should work ?!

None

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [235]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) 
print(mother_list)

['oranges', 'shampoo', 'toilet paper', 'water', 'juice', 'mushrooms', 'flour', 'garlic', 'mushrooms', 'oranges']

In [236]:
# Your code here
mother=set(mother_list)
mother

{'flour',
 'garlic',
 'juice',
 'mushrooms',
 'oranges',
 'shampoo',
 'toilet paper',
 'water'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [237]:
# Your code here
grocery_list=flatlist+mother_list
grocery_set= set(grocery_list)

grocery_set.discard('toilet paper')

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [238]:
# Your code here
grocery_set

{'blueberries',
 'cherries',
 'cucumber',
 'flour',
 'garlic',
 'gums',
 'juice',
 'milk',
 'mushrooms',
 'onions',
 'oranges',
 'shampoo',
 'sugar',
 'tomatoes',
 'water',
 'watermelon',
 'yogurt'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [239]:
# Your code here
items5=[]

groceries= list(grocery_set)

In [241]:
final_list=[]
for item in range(5):
    final_list.append(groceries.pop())
final_list

['yogurt', 'shampoo', 'onions', 'watermelon', 'oranges']