## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [5]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
sample_list_1 = random.sample(range(101), k = 80)
print(sample_list_1)

[22, 78, 79, 52, 46, 40, 23, 0, 97, 38, 82, 19, 42, 96, 4, 77, 64, 86, 9, 91, 37, 21, 41, 81, 92, 65, 24, 70, 10, 54, 18, 93, 71, 30, 17, 1, 12, 57, 44, 75, 85, 3, 16, 8, 2, 62, 90, 72, 95, 26, 84, 61, 27, 88, 45, 98, 6, 34, 5, 29, 14, 89, 33, 15, 73, 59, 99, 31, 63, 87, 56, 68, 69, 60, 100, 47, 36, 80, 74, 67]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [89]:
set1 = set(sample_list_1)
print(set1)
print(len(set1))

#Yes, because we generated a list of uniques values

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 26, 27, 29, 30, 31, 33, 34, 36, 37, 38, 40, 41, 42, 44, 45, 46, 47, 52, 54, 56, 57, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [18]:
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(1, 100))

print(sample_list_2)

[79, 96, 69, 74, 92, 15, 47, 15, 87, 61, 36, 93, 60, 22, 58, 12, 68, 10, 21, 12, 77, 17, 76, 77, 87, 47, 50, 57, 97, 28, 92, 20, 88, 93, 26, 84, 36, 34, 21, 34, 3, 9, 89, 78, 95, 24, 26, 69, 27, 72, 54, 80, 71, 33, 96, 76, 88, 14, 46, 80, 43, 36, 49, 76, 14, 11, 29, 71, 37, 25, 72, 45, 44, 50, 27, 99, 63, 100, 4, 47]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [20]:
set2 = set(sample_list_2)
print(len(set2))

#No, because set gets rid of the duplicates elements

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [29]:
set3 = set(set1 - set2)
print(set3)

{0, 1, 2, 5, 6, 8, 16, 18, 19, 23, 30, 31, 38, 40, 41, 42, 52, 56, 59, 62, 64, 65, 67, 70, 73, 75, 81, 82, 85, 86, 90, 91, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [30]:
set4 = set(set2 - set1)
print(set4)

{11, 43, 76, 49, 50, 20, 25, 58, 28}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [45]:
set5 = set1.intersection(set2)
print(set5)

{3, 4, 9, 10, 12, 14, 15, 17, 21, 22, 24, 26, 27, 29, 33, 34, 36, 37, 44, 45, 46, 47, 54, 57, 60, 61, 63, 68, 69, 71, 72, 74, 77, 78, 79, 80, 84, 87, 88, 89, 92, 93, 95, 96, 97, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [70]:
len_set1 = len(set1)
print(len_set1)
len_set2 = len(set2)
print(len_set2)
len_set3 = len(set3)
print(len_set3)
len_set4 = len(set4)
print(len_set4)
len_set5 = len(set5)
print(len_set5)

print(len_set1 == len_set3 + len_set5)
print(len_set2 == len_set4 + len_set5)
print(len_set3 == len_set1 - len_set2 + len_set4)
print(len_set4 == len_set2 - len_set1 + len_set3)
print(len_set5 == len_set1 - len_set3)
print(len_set5 == len_set2 - len_set4)

80
56
33
9
47
True
True
True
True
True
True

#### Create an empty set called `set6`.

In [47]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [48]:
set6.update(set3, set5,)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 26, 27, 29, 30, 31, 33, 34, 36, 37, 38, 40, 41, 42, 44, 45, 46, 47, 52, 54, 56, 57, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [49]:
if set1 == set6:
    print("set1 and set6 are equal")
else:
    print("set1 and set6 are not equal")

set1 and set6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [79]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [81]:
union3_4_5 = set3.union(set4, set5)
union1_2 = set1.union(set2)

if union3_4_5 == union1_2:
    print("The aggregated values are equal")
else:
    print("The aggregated values are not equal")

#### Using the `pop` method, remove the first element from `set1`.

In [92]:
list_set1 = list(set1)
list_set1.pop(0)

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [98]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{0, 2, 3, 4, 5, 6, 8, 10, 12, 14, 15, 16, 17, 18, 22, 23, 24, 26, 27, 30, 33, 34, 36, 37, 38, 40, 42, 44, 45, 46, 47, 52, 54, 56, 57, 60, 62, 63, 64, 65, 67, 68, 70, 72, 73, 74, 75, 77, 78, 80, 82, 84, 85, 86, 87, 88, 90, 92, 93, 95, 96, 97, 98, 100}