## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random as random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [96]:
sample_list_1 = random.sample(ints_list, 80)

ints_list = [i for i in range(0,80)]


    
len(sample_list_1)

80

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [97]:
set1= set(sample_list_1)

len(set1)

80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [111]:
sample_list_2 = []

for i in range(0,80):
    sample_list_2.append(int(random.random()*100))

80

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [112]:
set2= set(sample_list_2)

print(len(set2))

58

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [113]:
set3 = set1.difference(set2)
print(set3)

{1, 2, 3, 4, 7, 12, 14, 17, 19, 20, 26, 27, 29, 30, 31, 33, 35, 38, 39, 45, 47, 48, 50, 51, 52, 57, 59, 61, 66, 68, 75}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [114]:
print(set2)

set4 = set2.difference(set1)
print(set4)

{0, 5, 6, 8, 9, 10, 11, 13, 15, 16, 18, 21, 22, 23, 24, 25, 28, 32, 34, 36, 37, 40, 41, 42, 43, 44, 46, 49, 53, 54, 55, 56, 58, 60, 62, 63, 64, 65, 67, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 84, 85, 88, 90, 94, 95, 98, 99}
{98, 99, 80, 84, 85, 88, 90, 94, 95}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [118]:
set5 = set1.intersection(set2)

49
80
58

#### 8 - Create an empty set called `set6`.

In [119]:
dict = {}
set6 = set(dict)
type(set6)

set

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [120]:
set6.update(set3, set5)

set6

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79}

#### 10 - Check if `set1` and `set6` are equal.

In [121]:
set1 == set6

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [122]:
print(set1.issubset(set2))

print(set1.issubset(set3))

False
False

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [123]:
agg = set3.union(set4, set5)

print(len(agg))

agg1 = set1.union(set2)
print(len(agg))

89
89

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [131]:
print(type(set1))

set1.pop()

<class 'set'>

{1,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79}

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [132]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
        
print(set1)

{3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [143]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']
mother_list = []
Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']
Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']
Mattia_list = []

father_set = set(father_list)
mother_set = set(mother_list)
jo_set = set(Jo_list)
carlos_set = set(Carlos_list)
mattia_set = set(Mattia_list)

unique_list = father_set.union(mother_set, jo_set, Jo_list, Carlos_list, Mattia_list)

unique_list

{'blueberries',
 'cherries',
 'cucumber',
 'flour',
 'garlic',
 'gums',
 'juice',
 'milk',
 'onions',
 'sugar',
 'toilet paper',
 'tomatoes',
 'water',
 'watermelon',
 'yogurt'}

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [144]:
father_set2 = father_set.difference(mother_list, Jo_list, Carlos_list, Mattia_list)
mother_set2 = mother_set.difference(father_list, Jo_list, Carlos_list, Mattia_list)
jo_set2 = jo_set.difference(mother_list, father_list, Carlos_list, Mattia_list)
carlos_set2 = carlos_set.difference(mother_list, Jo_list, father_list, Mattia_list)
mattia_set2 = mattia_set.difference(mother_list, Jo_list, Carlos_list, father_list)

print(father_set2)
print(mother_set2)
print(jo_set2)
print(carlos_set2)
print(mattia_set2)

set()
set()
{'sugar', 'milk', 'juice'}
{'water', 'cherries'}
set()

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [147]:
mattia_hates = jo_set.symmetric_difference(carlos_set)
mattia_hates

{'cherries',
 'cucumber',
 'flour',
 'gums',
 'juice',
 'milk',
 'sugar',
 'toilet paper',
 'water',
 'watermelon',
 'yogurt'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [5]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['deodorant', 'oranges', 'toilet paper', 'oranges', 'cherries', 'sugar', 'flour', 'milk', 'water', 'onions']

In [7]:
mother = set(mother_list)
print(mother)

{'sugar', 'milk', 'onions', 'cherries', 'toilet paper', 'water', 'deodorant', 'flour', 'oranges'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [18]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']
mother_list = []
Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']
Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']
Mattia_list = []

all_groceries = father_list + mother_list + Jo_list + Carlos_list + Mattia_list

for i in all_groceries:
    if i == "toilet paper":
        all_groceries.remove("toilet paper")
        
all_groceries_set = set(all_groceries)

print(all_groceries_set)

{'blueberries', 'sugar', 'milk', 'onions', 'juice', 'cherries', 'tomatoes', 'water', 'garlic', 'cucumber', 'yogurt', 'gums', 'flour', 'watermelon'}

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [16]:
father_set = set(father_list)
mother_set = set(mother_list)
jo_set = set(Jo_list)
carlos_set = set(Carlos_list)
mattia_set = set(Mattia_list)

complete_groceries = father_set.union(mother_set, jo_set, carlos_set, mattia_set)

print(complete_groceries)

{'sugar', 'cherries', 'toilet paper', 'water', 'garlic', 'cucumber', 'gums', 'watermelon', 'blueberries', 'milk', 'onions', 'juice', 'tomatoes', 'yogurt', 'flour'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [27]:


for i in complete_groceries:
    if len(complete_groceries) <5:
        complete_groceries.remove(i)
        print(complete_groceries)
    else:
        break
    
print(complete_groceries)

{'sugar', 'cherries', 'toilet paper', 'water', 'garlic', 'cucumber', 'gums', 'watermelon', 'blueberries', 'milk', 'onions', 'juice', 'tomatoes', 'yogurt', 'flour'}