## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
list1 = list(range(0,100))
sample_list_1 = random.sample(list1,80)
print(sample_list_1)

[36, 92, 17, 81, 50, 82, 78, 94, 40, 20, 42, 80, 76, 48, 32, 39, 96, 0, 10, 67, 15, 77, 54, 63, 25, 90, 74, 31, 72, 11, 84, 4, 16, 23, 73, 98, 85, 18, 2, 52, 8, 55, 43, 38, 7, 51, 58, 6, 71, 29, 57, 46, 45, 68, 34, 65, 62, 28, 3, 89, 13, 79, 60, 41, 30, 99, 22, 44, 83, 66, 14, 49, 93, 95, 87, 1, 33, 56, 21, 12]

In [3]:
{number : sample_list_1.count(number) for number in sample_list_1 }

{36: 1,
 92: 1,
 17: 1,
 81: 1,
 50: 1,
 82: 1,
 78: 1,
 94: 1,
 40: 1,
 20: 1,
 42: 1,
 80: 1,
 76: 1,
 48: 1,
 32: 1,
 39: 1,
 96: 1,
 0: 1,
 10: 1,
 67: 1,
 15: 1,
 77: 1,
 54: 1,
 63: 1,
 25: 1,
 90: 1,
 74: 1,
 31: 1,
 72: 1,
 11: 1,
 84: 1,
 4: 1,
 16: 1,
 23: 1,
 73: 1,
 98: 1,
 85: 1,
 18: 1,
 2: 1,
 52: 1,
 8: 1,
 55: 1,
 43: 1,
 38: 1,
 7: 1,
 51: 1,
 58: 1,
 6: 1,
 71: 1,
 29: 1,
 57: 1,
 46: 1,
 45: 1,
 68: 1,
 34: 1,
 65: 1,
 62: 1,
 28: 1,
 3: 1,
 89: 1,
 13: 1,
 79: 1,
 60: 1,
 41: 1,
 30: 1,
 99: 1,
 22: 1,
 44: 1,
 83: 1,
 66: 1,
 14: 1,
 49: 1,
 93: 1,
 95: 1,
 87: 1,
 1: 1,
 33: 1,
 56: 1,
 21: 1,
 12: 1}

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here
set1 = set(sample_list_1)

print(set1)

len(set1)

#yes, the lenght is still 80

{0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 28, 29, 30, 31, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 65, 66, 67, 68, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 89, 90, 92, 93, 94, 95, 96, 98, 99}

80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)
len(sample_list_2)

[35, 48, 17, 32, 41, 64, 19, 76, 29, 49, 63, 25, 64, 0, 49, 72, 53, 71, 53, 62, 61, 37, 36, 75, 79, 14, 24, 72, 98, 43, 25, 18, 1, 30, 42, 27, 59, 75, 39, 51, 57, 30, 4, 91, 61, 33, 52, 16, 58, 68, 100, 33, 98, 27, 35, 86, 69, 69, 47, 42, 60, 38, 42, 16, 1, 51, 69, 7, 35, 29, 98, 7, 53, 35, 40, 41, 28, 49, 72, 47]

80

In [6]:
{number : sample_list_2.count(number) for number in sample_list_2 }

{35: 4,
 48: 1,
 17: 1,
 32: 1,
 41: 2,
 64: 2,
 19: 1,
 76: 1,
 29: 2,
 49: 3,
 63: 1,
 25: 2,
 0: 1,
 72: 3,
 53: 3,
 71: 1,
 62: 1,
 61: 2,
 37: 1,
 36: 1,
 75: 2,
 79: 1,
 14: 1,
 24: 1,
 98: 3,
 43: 1,
 18: 1,
 1: 2,
 30: 2,
 42: 3,
 27: 2,
 59: 1,
 39: 1,
 51: 2,
 57: 1,
 4: 1,
 91: 1,
 33: 2,
 52: 1,
 16: 2,
 58: 1,
 68: 1,
 100: 1,
 86: 1,
 69: 3,
 47: 2,
 60: 1,
 38: 1,
 7: 2,
 40: 1,
 28: 1}

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set2 = set(sample_list_2)
print(set2)
len(set2)
#lenght of the set is 52 and all the repeated number were consolidated/removed

{0, 1, 4, 7, 14, 16, 17, 18, 19, 24, 25, 27, 28, 29, 30, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 47, 48, 49, 51, 52, 53, 57, 58, 59, 60, 61, 62, 63, 64, 68, 69, 71, 72, 75, 76, 79, 86, 91, 98, 100}

51

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [8]:
# Your code here
set3 = set1 - set2
print(set3)

{2, 3, 6, 8, 10, 11, 12, 13, 15, 20, 21, 22, 23, 31, 34, 44, 45, 46, 50, 54, 55, 56, 65, 66, 67, 73, 74, 77, 78, 80, 81, 82, 83, 84, 85, 87, 89, 90, 92, 93, 94, 95, 96, 99}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
# Your code here
set4 = set2 - set1
print(set4)

{64, 35, 100, 37, 69, 59, 91, 75, 47, 19, 53, 86, 24, 27, 61}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [10]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 1, 4, 7, 14, 16, 17, 18, 25, 28, 29, 30, 32, 33, 36, 38, 39, 40, 41, 42, 43, 48, 49, 51, 52, 57, 58, 60, 62, 63, 68, 71, 72, 76, 79, 98}

#### 8 - Create an empty set called `set6`.

In [11]:
# Your code here
set6 = {}

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
# Your code here
set6 = set(list(set3) + list(set5))
print(set6)

{0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 28, 29, 30, 31, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 65, 66, 67, 68, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 89, 90, 92, 93, 94, 95, 96, 98, 99}

#### 10 - Check if `set1` and `set6` are equal.

In [13]:
# Your code here
set1 == set6

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
# Your code here
set7 = set3.union(set4)
set8 = set7.union(set5)

set9 = set1.union(set2)

set8 == set9

True

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [16]:
# Your code here
print(set1)

{0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 28, 29, 30, 31, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 65, 66, 67, 68, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 89, 90, 92, 93, 94, 95, 96, 98, 99}

In [17]:
set1.pop()
print(set1)

{1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 28, 29, 30, 31, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 65, 66, 67, 68, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 89, 90, 92, 93, 94, 95, 96, 98, 99}

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [20]:

# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set10 = set1 - set(list_to_remove)
print(set10)

{2, 3, 4, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 25, 28, 30, 32, 33, 34, 36, 38, 40, 42, 43, 44, 45, 46, 48, 50, 52, 54, 55, 56, 57, 58, 60, 62, 63, 65, 66, 67, 68, 72, 73, 74, 76, 77, 78, 80, 82, 83, 84, 85, 87, 90, 92, 93, 94, 95, 96, 98}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [21]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [22]:
# Your code here
father_set = set(father_list)
Jo_set = set(Jo_list)
Carlos_set= set(Carlos_list)
mother_set= set(mother_list)
Mattia_set = set(Mattia_list)

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [36]:
# Your code here
Mattia_set = Carlos_set.symmetric_difference(Jo_set)
Mattia_list =list(Mattia_set)
print(Mattia_set)

{'yogurt', 'flour', 'milk', 'water', 'gums', 'sugar', 'juice', 'cucumber', 'watermelon', 'cherries'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [27]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['shampoo', 'shampoo', 'bread', 'juice', 'yogurt', 'garlic', 'bread', 'watermelon', 'juice', 'flour']

In [28]:
# Your code here
mother_set = set(mother_list)
print(mother_set)

{'yogurt', 'watermelon', 'shampoo', 'flour', 'juice', 'bread', 'garlic'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [29]:
# Your code here
grocery_list = [mother_set, father_set ,Jo_set ,Carlos_set ,Mattia_set]

for name_set in grocery_list:
    name_set.discard("toilet paper")
    print(name_set)

{'yogurt', 'watermelon', 'shampoo', 'flour', 'juice', 'bread', 'garlic'}
{'yogurt', 'watermelon', 'flour', 'onions', 'gums', 'cucumber', 'garlic'}
{'tomatoes', 'garlic', 'blueberries', 'yogurt', 'milk', 'gums', 'onions', 'sugar', 'juice', 'cucumber', 'watermelon'}
{'tomatoes', 'blueberries', 'flour', 'water', 'onions', 'garlic', 'cherries'}
{'yogurt', 'flour', 'milk', 'water', 'gums', 'sugar', 'juice', 'cucumber', 'watermelon', 'cherries'}

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [43]:
# Your code here

total_list =[]
grocery_list1 = [mother_list, father_list ,Jo_list ,Carlos_list ,Mattia_list]
for gro_list in grocery_list1:
    total_list += gro_list

total_set= set(total_list)
print(total_set)

{'tomatoes', 'toilet paper', 'yogurt', 'blueberries', 'watermelon', 'shampoo', 'flour', 'milk', 'water', 'onions', 'gums', 'sugar', 'juice', 'bread', 'cucumber', 'garlic', 'cherries'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [42]:
# Your code here
for item in list(total_set):
    if len(list(total_set)) > 5:
        total_set.pop()
    else:
        continue
print(total_set)

{'juice', 'bread', 'cucumber', 'garlic', 'cherries'}