## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [13]:
# Your code here

sample_list_1 = random.sample(range(100), k = 80)
print(sample_list_1)
print("The length of the list is " + str(len(sample_list_1)))

[5, 9, 51, 38, 22, 49, 54, 42, 14, 73, 31, 26, 6, 21, 0, 69, 48, 32, 93, 84, 56, 88, 98, 41, 68, 29, 83, 44, 15, 45, 72, 82, 76, 78, 79, 66, 74, 55, 80, 86, 50, 3, 77, 34, 17, 10, 57, 91, 46, 95, 23, 58, 24, 65, 47, 8, 70, 63, 1, 96, 43, 99, 36, 53, 89, 90, 62, 92, 52, 60, 64, 7, 18, 12, 87, 97, 85, 81, 19, 37]
The length of the list is 80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [14]:
# Your code here

set1 = set(sample_list_1)
print("The length of the set is " + str(len(set1)))

The length of the set is 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [30]:
# Your code here

sample_list_2 = []

for x in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[47, 2, 3, 45, 4, 7, 94, 76, 76, 72, 21, 91, 95, 44, 68, 39, 85, 9, 11, 76, 38, 40, 40, 40, 91, 29, 25, 87, 68, 47, 58, 0, 94, 52, 84, 66, 54, 26, 37, 31, 50, 43, 29, 11, 1, 63, 35, 19, 46, 14, 19, 22, 93, 78, 5, 35, 10, 10, 11, 95, 24, 5, 17, 73, 30, 39, 38, 7, 92, 35, 8, 63, 44, 9, 60, 69, 41, 87, 89, 84]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [32]:
# Your code here

set2 = set(sample_list_2)
print("The length of the set is " + str(len(set2)))

The length of the set is 55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [41]:
# Your code here

set3 = []

for x in set1:
    if x in set1 and x not in set2:
        set3.append(x)

#print(set3)

[6, 12, 15, 18, 23, 32, 34, 36, 42, 48, 49, 51, 53, 55, 56, 57, 62, 64, 65, 70, 74, 77, 79, 80, 81, 82, 83, 86, 88, 90, 96, 97, 98, 99]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [42]:
# Your code here

set4 = []

for x in set2:
    if x in set2 and x not in set1:
        set4.append(x)

#print(set4)

[2, 4, 11, 25, 30, 35, 39, 40, 94]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [43]:
# Your code here

set5 = set1.intersection(set2)

{0, 1, 3, 5, 7, 8, 9, 10, 14, 17, 19, 21, 22, 24, 26, 29, 31, 37, 38, 41, 43, 44, 45, 46, 47, 50, 52, 54, 58, 60, 63, 66, 68, 69, 72, 73, 76, 78, 84, 85, 87, 89, 91, 92, 93, 95}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [ ]:
# Your code here

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here