## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [3]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# Your code here
sample_range = list(range(1, 101))

sample_list_1= random.sample(sample_range, k=80)
sample_list_1
#len(sample_list_1)
#sample_list_1= random.sample(0,100,k=80)

[39,
 22,
 75,
 1,
 94,
 43,
 52,
 34,
 26,
 51,
 81,
 82,
 45,
 80,
 72,
 69,
 84,
 15,
 78,
 76,
 68,
 38,
 99,
 18,
 27,
 56,
 44,
 48,
 71,
 41,
 36,
 5,
 32,
 8,
 42,
 4,
 98,
 47,
 37,
 88,
 31,
 2,
 62,
 16,
 61,
 86,
 33,
 3,
 92,
 17,
 60,
 20,
 28,
 100,
 91,
 25,
 66,
 83,
 65,
 93,
 13,
 53,
 59,
 14,
 87,
 63,
 97,
 29,
 7,
 40,
 90,
 77,
 9,
 67,
 21,
 30,
 79,
 57,
 64,
 55]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set1=set(sample_list_1)
len(set1)

len(sample_list_1) == len(set1)

True

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [6]:
# Your code here
sample_list_2 = []

sample_list_2 = [random.randrange(1,100, 1) for i in range(80)]
sample_list_2

[63,
 69,
 85,
 62,
 48,
 41,
 36,
 47,
 9,
 7,
 25,
 78,
 37,
 45,
 32,
 54,
 83,
 73,
 90,
 78,
 95,
 74,
 92,
 78,
 15,
 26,
 99,
 3,
 99,
 66,
 69,
 65,
 61,
 34,
 26,
 36,
 48,
 50,
 36,
 17,
 48,
 90,
 44,
 84,
 80,
 93,
 40,
 31,
 96,
 25,
 18,
 97,
 31,
 10,
 19,
 52,
 53,
 99,
 38,
 90,
 57,
 31,
 68,
 17,
 5,
 96,
 96,
 9,
 41,
 49,
 66,
 82,
 66,
 76,
 17,
 39,
 48,
 29,
 77,
 2]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set2= set(sample_list_2)
len(set(sample_list_2))  #No the length is 62

56

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [8]:
# Your code here
set3= []

[set3.append(number) for number in set1 if number not in set2]

# for number in set1:
#     if number not in set2:
#         set3.append(number)
#     else:
#         continue
print(set3)

[1, 4, 8, 13, 14, 16, 20, 21, 22, 27, 28, 30, 33, 42, 43, 51, 55, 56, 59, 60, 64, 67, 71, 72, 75, 79, 81, 86, 87, 88, 91, 94, 98, 100]

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
# Your code here
set4= []

[set4.append(number2) for number2 in set2 if number2 not in set1]
print(set4)

[10, 19, 49, 50, 54, 73, 74, 85, 95, 96]

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [10]:
# Your code here
set5= []

[set5.append(number3) for number3 in set1 if number3 not in set2]
print(set4)

[10, 19, 49, 50, 54, 73, 74, 85, 95, 96]

#### 8 - Create an empty set called `set6`.

In [11]:
# Your code here
set6 = []

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [13]:
# Your code here
set6 = set3 + set5
set6

[1,
 4,
 8,
 13,
 14,
 16,
 20,
 21,
 22,
 27,
 28,
 30,
 33,
 42,
 43,
 51,
 55,
 56,
 59,
 60,
 64,
 67,
 71,
 72,
 75,
 79,
 81,
 86,
 87,
 88,
 91,
 94,
 98,
 100,
 1,
 4,
 8,
 13,
 14,
 16,
 20,
 21,
 22,
 27,
 28,
 30,
 33,
 42,
 43,
 51,
 55,
 56,
 59,
 60,
 64,
 67,
 71,
 72,
 75,
 79,
 81,
 86,
 87,
 88,
 91,
 94,
 98,
 100]

#### 10 - Check if `set1` and `set6` are equal.

In [14]:
# Your code here
set1 == set6

False

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [21]:
# Your code here
set1.issubset(set2)  #False

set(set3).issubset(set1)  #true

True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [23]:
# Your code here
set1.union(set2)==set(set3).union(set4).union(set5)

False

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [25]:
# Your code here
set1

set1.pop()
set1

{2,
 3,
 4,
 5,
 7,
 8,
 9,
 13,
 14,
 15,
 16,
 17,
 18,
 20,
 21,
 22,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 47,
 48,
 51,
 52,
 53,
 55,
 56,
 57,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 71,
 72,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 86,
 87,
 88,
 90,
 91,
 92,
 93,
 94,
 97,
 98,
 99,
 100}

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [32]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list_to_set = []
list_to_set=[ number for number in set1  if number not in list_to_remove]   #in list comprehension

#for number in set1:
 #   if number not in list_to_remove:
  #      list_to_set.append(number)

dif=set1.difference(list_to_set)
print(dif)

{69, 71, 9, 79, 81, 21, 91, 29, 31, 99, 39, 41, 51, 59, 61}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [33]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [43]:
# Your code here
father_set= set(father_list)
mother_set= set(mother_list)
Jo_set = set(Jo_list)
Carlos_set = set(Carlos_list)
Mattia_set = set(Mattia_list)

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [44]:
# Your code here
Mattia_set= Jo_set.symmetric_difference(Carlos_set)
print(Mattia_set)

{'yogurt', 'cucumber', 'cherries', 'gums', 'sugar', 'toilet paper', 'watermelon', 'water', 'juice', 'flour', 'milk'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [46]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['mushrooms', 'gums', 'milk', 'watermelon', 'sugar', 'chocolate', 'garlic', 'milk', 'juice', 'shampoo']

In [48]:
# Your code here
mother_set=set(mother_list)
mother_set

{'chocolate',
 'garlic',
 'gums',
 'juice',
 'milk',
 'mushrooms',
 'shampoo',
 'sugar',
 'watermelon'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [55]:
# Your code here
father_set= set(father_list)
mother_set= set(mother_list)
Jo_set = set(Jo_list)
Carlos_set = set(Carlos_list)
Mattia_set = set(Mattia_list)

list_junction = list(father_set.union(mother_set).union(Jo_set).union(Carlos_set).union(Mattia_set))
print(list_junction)

for product in list_junction:
    if product == "toilet paper":
        father_set.discard(product)
        mother_set.discard(product)
        Jo_set.discard(product)
        Carlos_set.discard(product)
        Mattia_set.discard(product)
        
#

['cucumber', 'cherries', 'gums', 'toilet paper', 'garlic', 'tomatoes', 'water', 'juice', 'flour', 'yogurt', 'chocolate', 'mushrooms', 'shampoo', 'watermelon', 'onions', 'sugar', 'blueberries', 'milk']
{'yogurt', 'cucumber', 'gums', 'watermelon', 'onions', 'garlic', 'flour'}

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [57]:
# Your code here

set_junction = set(list_junction)
set_junction

{'blueberries',
 'cherries',
 'chocolate',
 'cucumber',
 'flour',
 'garlic',
 'gums',
 'juice',
 'milk',
 'mushrooms',
 'onions',
 'shampoo',
 'sugar',
 'toilet paper',
 'tomatoes',
 'water',
 'watermelon',
 'yogurt'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [59]:
# Your code here

father_list = random.choices(list(father_set),k = 5)
print(father_list)

['flour', 'garlic', 'gums', 'onions', 'garlic']