## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [5]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
# Your code here
sample_list_1 = (random.sample(range(100), 80))
print(sample_list_1)

[82, 14, 85, 7, 62, 86, 26, 3, 66, 52, 71, 67, 53, 78, 21, 55, 27, 25, 68, 4, 13, 43, 42, 31, 28, 9, 96, 93, 23, 24, 15, 39, 70, 6, 73, 37, 61, 63, 34, 75, 97, 77, 47, 98, 72, 22, 87, 56, 84, 50, 44, 2, 16, 17, 36, 51, 32, 57, 74, 35, 80, 40, 89, 29, 76, 69, 30, 99, 8, 12, 83, 92, 58, 79, 38, 19, 91, 49, 94, 33]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set1= set(sample_list_1)
len(set1) == 80

True

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [8]:
# Your code here
sample_list_2 = []

for i in range(80):
    n = random.randint(0,100)
    sample_list_2.append(n)
print(sample_list_2)

[23, 19, 94, 63, 23, 76, 5, 7, 67, 13, 78, 64, 72, 66, 36, 27, 66, 21, 91, 39, 36, 73, 12, 70, 10, 31, 63, 50, 39, 42, 77, 4, 89, 39, 98, 70, 94, 1, 90, 93, 47, 41, 89, 69, 68, 75, 4, 86, 98, 94, 9, 11, 28, 99, 63, 28, 29, 53, 14, 25, 52, 71, 38, 21, 93, 3, 33, 100, 34, 71, 84, 41, 41, 97, 66, 34, 70, 89, 85, 44]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here
set2 = set(sample_list_2)
print(len(set2) == 80)

#there are values in sample_list_2 that are not unique. in a set all values are unique. therefore, when i converted the list to a set all repeated elements were removed.

print(len(set2))

False
57

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [10]:
# Your code here
set3 = set()
for element in set1:
    if element not in set2:
        set3.add(element)
print(set3)
len(set3)

{2, 6, 8, 15, 16, 17, 22, 24, 26, 30, 32, 35, 37, 40, 43, 49, 51, 55, 56, 57, 58, 61, 62, 74, 79, 80, 82, 83, 87, 92, 96}

31

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [11]:
# Your code here
set4 = set()
for element in set2:
    if element not in set1:
        set4.add(element)
print(set4)
print(len(set4))

{64, 1, 100, 5, 41, 10, 11, 90}
8

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [12]:
# Your code here
set5 = set()

for element in set1:
    if element in set2:
        set5.add(element)

print(set5)
print(len(set5))

{3, 4, 7, 9, 12, 13, 14, 19, 21, 23, 25, 27, 28, 29, 31, 33, 34, 36, 38, 39, 42, 44, 47, 50, 52, 53, 63, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 84, 85, 86, 89, 91, 93, 94, 97, 98, 99}
49

#### 8 - Create an empty set called `set6`.

In [13]:
# Your code here
set6 = set()

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [14]:
# Your code here
set6.update(set3,set5)
print(set6)

{2, 3, 4, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 47, 49, 50, 51, 52, 53, 55, 56, 57, 58, 61, 62, 63, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 89, 91, 92, 93, 94, 96, 97, 98, 99}

#### 10 - Check if `set1` and `set6` are equal.

In [15]:
# Your code here
set1 == set6

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [16]:
# Your code here
print( set2.issubset(set1))
print( set3.issubset(set1))

False
True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [17]:
# Your code here
set34 = set3.union(set4)
set345 = set34.union(set5)

set12 = set1.union(set2)

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [18]:
# Your code here
set1.pop()

2

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [19]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for item in list_to_remove:
    if item in set1:
        list_to_remove.remove(item)
print(list_to_remove)

[1, 11, 21, 31, 41, 51, 59, 69, 79, 81, 91]

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [20]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [21]:
# Your code here
father_set = set(father_list)
jo_set = set(Jo_list)
carlos_set = set(Carlos_list)

print(father_set)
print(jo_set)
print(carlos_set)

{'onions', 'toilet paper', 'garlic', 'cucumber', 'flour', 'gums', 'watermelon', 'yogurt'}
{'onions', 'sugar', 'juice', 'garlic', 'blueberries', 'cucumber', 'milk', 'tomatoes', 'gums', 'watermelon', 'yogurt'}
{'water', 'onions', 'toilet paper', 'garlic', 'blueberries', 'tomatoes', 'cherries', 'flour'}

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [22]:
# Your code here
mattia_set = carlos_set.symmetric_difference(jo_set)
print(mattia_set)

{'sugar', 'juice', 'water', 'toilet paper', 'cucumber', 'milk', 'cherries', 'flour', 'gums', 'watermelon', 'yogurt'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [23]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['cherries', 'toilet paper', 'blueberries', 'flour', 'tomatoes', 'blueberries', 'yogurt', 'onions', 'milk', 'oranges']

In [24]:
# Your code here
mother_set = set(mother_list)
print(mother_list)

['cherries', 'toilet paper', 'blueberries', 'flour', 'tomatoes', 'blueberries', 'yogurt', 'onions', 'milk', 'oranges']

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [25]:
# Your code here
shopping_list = [mother_set, father_set, jo_set, mattia_set, carlos_set]
print(shopping_list)

for member_set in shopping_list:
    for item in member_set.copy():
        if item == 'toilet paper':
            member_set.discard(item)
        else:
            continue

[{'onions', 'toilet paper', 'blueberries', 'milk', 'tomatoes', 'cherries', 'flour', 'oranges', 'yogurt'}, {'onions', 'toilet paper', 'garlic', 'cucumber', 'flour', 'gums', 'watermelon', 'yogurt'}, {'onions', 'sugar', 'juice', 'garlic', 'blueberries', 'cucumber', 'milk', 'tomatoes', 'gums', 'watermelon', 'yogurt'}, {'sugar', 'juice', 'water', 'toilet paper', 'cucumber', 'milk', 'cherries', 'flour', 'gums', 'watermelon', 'yogurt'}, {'water', 'onions', 'toilet paper', 'garlic', 'blueberries', 'tomatoes', 'cherries', 'flour'}]

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [56]:
# Your code here
shopping_list = [mother_set, father_set, jo_set, mattia_set, carlos_set]

family_set = set().union(*shopping_list)
print(family_set)

{'water', 'sugar', 'garlic', 'milk', 'tomatoes', 'gums', 'yogurt', 'onions', 'juice', 'blueberries', 'cucumber', 'cherries', 'flour', 'oranges', 'watermelon'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [57]:
# Your code here
print(len(family_set))
family_set.pop()
family_set.pop()
family_set.pop()
family_set.pop()
family_set.pop()
family_set.pop()
family_set.pop()
family_set.pop()
family_set.pop()
family_set.pop()

15

'blueberries'

In [58]:
print(family_set)

{'cucumber', 'cherries', 'flour', 'oranges', 'watermelon'}