## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [96]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [97]:
# Your code here
sample_list_1 = random.sample(range(0,101),80)
print(sample_list_1)

[17, 75, 56, 52, 63, 2, 33, 37, 90, 32, 95, 79, 44, 46, 42, 13, 91, 73, 19, 74, 9, 29, 31, 99, 97, 53, 61, 51, 87, 58, 64, 6, 5, 55, 85, 82, 43, 15, 18, 3, 11, 57, 76, 65, 4, 14, 59, 54, 89, 67, 88, 45, 68, 10, 94, 8, 83, 66, 48, 47, 50, 92, 62, 27, 60, 78, 81, 70, 71, 1, 80, 23, 69, 77, 49, 100, 39, 28, 7, 34]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [98]:
# Your code here
set1 = set(sample_list_1)
print(len(set1)) # yes, length is still 80 because the numbers in the list are unique

80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [99]:
# Your code here
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[35, 61, 85, 81, 9, 99, 30, 83, 49, 92, 89, 10, 21, 78, 88, 8, 95, 86, 75, 84, 92, 74, 86, 8, 12, 16, 34, 26, 99, 51, 39, 24, 91, 87, 57, 80, 9, 25, 66, 25, 4, 92, 50, 24, 58, 48, 97, 51, 77, 55, 58, 87, 48, 94, 52, 35, 79, 87, 89, 70, 89, 60, 91, 22, 62, 64, 1, 57, 99, 62, 5, 60, 3, 66, 50, 28, 21, 20, 49, 30]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [100]:
# Your code here
set2 = set(sample_list_2)
print(len(set2)) # no, length is no longer 80 because sets don't allow duplicates

54

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [101]:
# Your code here
set3 = set1 - set2
print(set3)

{2, 6, 7, 11, 13, 14, 15, 17, 18, 19, 23, 27, 29, 31, 32, 33, 37, 42, 43, 44, 45, 46, 47, 53, 54, 56, 59, 63, 65, 67, 68, 69, 71, 73, 76, 82, 90, 100}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [102]:
# Your code here
set4 = set2 - set1
print(set4)

{35, 12, 16, 20, 21, 22, 84, 24, 25, 26, 86, 30}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [103]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{1, 3, 4, 5, 8, 9, 10, 28, 34, 39, 48, 49, 50, 51, 52, 55, 57, 58, 60, 61, 62, 64, 66, 70, 74, 75, 77, 78, 79, 80, 81, 83, 85, 87, 88, 89, 91, 92, 94, 95, 97, 99}

#### 8 - Create an empty set called `set6`.

In [104]:
# Your code here
set6 = set()
print(type(set6))

<class 'set'>

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [105]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 17, 18, 19, 23, 27, 28, 29, 31, 32, 33, 34, 37, 39, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 88, 89, 90, 91, 92, 94, 95, 97, 99, 100}

#### 10 - Check if `set1` and `set6` are equal.

In [106]:
# Your code here
set1 == set2

False

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [107]:
# Your code here
if set2.issubset(set1):
    print("Set1 is a subset of Set2")
else:
    print("Set1 is not a subset of Set2")
if set3.issubset(set1):
    print("Set1 is a subset of Set3")
else:
    print("Set1 is not a subset of Set3")

Set1 is not a subset of Set2
Set1 is a subset of Set3

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [108]:
# Your code here
if set3.union(set4).union(set5) == set1.union(set2):
    print("Values are equal")
else:
    print("They are not equal")

Values are equal

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [109]:
# Your code here
list(set1).pop(0) # pop method for sets takes no arguments, we can't remove an element by choice, we can do it if we turn it into a list

1

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [110]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for num in list_to_remove:
    if num in set1:
        set1.remove(num)

print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 13, 14, 15, 17, 18, 23, 27, 28, 32, 33, 34, 37, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 73, 74, 75, 76, 77, 78, 80, 82, 83, 85, 87, 88, 90, 92, 94, 95, 97, 100}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [111]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [112]:
# Your code here
father_set = set(father_list)
mother_set = set(mother_list)
jo_set = set(Jo_list)
carlos_set = set(Carlos_list)
mattia_set = set(Mattia_list)

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [113]:
# Your code here
mattia_set = jo_set.symmetric_difference(carlos_set)
print(mattia_set)

{'sugar', 'juice', 'flour', 'cherries', 'gums', 'watermelon', 'cucumber', 'water', 'toilet paper', 'milk', 'yogurt'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [114]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['oranges', 'onions', 'yogurt', 'blueberries', 'tomatoes', 'tomatoes', 'flour', 'juice', 'juice', 'tomatoes']

In [115]:
# Your code here
mother_set = set(mother_list)
print(mother)

{'mushrooms', 'bread', 'blueberries', 'watermelon', 'flour', 'gums', 'shampoo', 'toilet paper', 'milk'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [116]:
# Your code here
item = "toilet paper"
if item in father_set: father_set.discard(item)
if item in mother_set: mother_set.discard(item)
if item in jo_set: jo_set.discard(item)
if item in carlos_set: carlos_set.discard(item)
if item in mattia_set: mattia_set.discard(item)

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [119]:
# Your code here
groceries = father_set.union(mother_set).union(jo_set).union(carlos_set).union(mattia_set)
print(groceries)

{'blueberries', 'watermelon', 'cherries', 'sugar', 'juice', 'flour', 'gums', 'cucumber', 'oranges', 'tomatoes', 'garlic', 'water', 'onions', 'milk', 'yogurt'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [121]:
# Your code here
while len(father_set) != 5:
    father_set.pop()
print(father_set)

{'gums', 'cucumber', 'garlic', 'onions', 'yogurt'}