## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [105]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [106]:
# Your code here
sample_list_1 = random.sample(range(100), k = 80)

print(sample_list_1)

[5, 57, 22, 2, 98, 63, 52, 41, 69, 54, 67, 4, 19, 1, 47, 25, 65, 79, 43, 80, 35, 96, 91, 55, 60, 16, 72, 85, 56, 36, 30, 33, 49, 71, 48, 89, 13, 20, 7, 29, 39, 82, 53, 45, 17, 92, 74, 88, 42, 62, 95, 87, 24, 59, 34, 26, 93, 44, 40, 78, 86, 12, 77, 32, 58, 10, 64, 21, 38, 51, 66, 90, 11, 23, 50, 99, 37, 6, 75, 81]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [107]:
# Your code here
set1 = set(sample_list_1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [108]:
# Your code here
sample_list_2 = []
                      
for i in range(80):
    chosen = random.sample(range(100), k = 1)
    sample_list_2 += chosen
    
print(sample_list_2)
print(len(sample_list_2))

[93, 20, 74, 31, 26, 93, 68, 89, 64, 21, 82, 8, 78, 8, 13, 25, 5, 42, 45, 94, 12, 35, 36, 63, 14, 41, 55, 96, 95, 5, 31, 24, 78, 44, 97, 95, 45, 68, 48, 37, 52, 44, 51, 25, 46, 75, 60, 1, 84, 58, 32, 79, 99, 98, 18, 60, 58, 4, 12, 81, 12, 58, 10, 59, 46, 11, 32, 33, 65, 79, 49, 71, 57, 23, 87, 56, 43, 83, 71, 41]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [109]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
print(set2)

60
{1, 4, 5, 8, 10, 11, 12, 13, 14, 18, 20, 21, 23, 24, 25, 26, 31, 32, 33, 35, 36, 37, 41, 42, 43, 44, 45, 46, 48, 49, 51, 52, 55, 56, 57, 58, 59, 60, 63, 64, 65, 68, 71, 74, 75, 78, 79, 81, 82, 83, 84, 87, 89, 93, 94, 95, 96, 97, 98, 99}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [110]:
# Your code here
set3 = set()
for x in range(100):
    if x in set1 and x not in set2:
        set3.add(x)

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [111]:
# Your code here
set4 = set()
for x in range(100):
    if x in set2 and x not in set1:
        set4.add(x)
print(set4)

{97, 68, 8, 46, 14, 18, 83, 84, 94, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [112]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{1, 4, 5, 10, 11, 12, 13, 20, 21, 23, 24, 25, 26, 32, 33, 35, 36, 37, 41, 42, 43, 44, 45, 48, 49, 51, 52, 55, 56, 57, 58, 59, 60, 63, 64, 65, 71, 74, 75, 78, 79, 81, 82, 87, 89, 93, 95, 96, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [113]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))


# len(set1) + len(set2) - len(set(5)) = this should be equal to the union of 1 and 2
# len(set3) + len(set5) = should be equal to set 1
# len(set4) + len(set5) = should be equal to set 2

if len(set3) + len(set5) == len(set1):
    print(True)
else:
    print(False)

if len(set4) + len(set5) == len(set2):
    print(True)
else:
    print(False)

80
60
30
10
50
True
True

#### Create an empty set called `set6`.

In [114]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [115]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{1, 2, 4, 5, 6, 7, 10, 11, 12, 13, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 69, 71, 72, 74, 75, 77, 78, 79, 80, 81, 82, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [116]:
# Your code here
if set1 == set6:
    print("Yes they are!")

Yes they are!

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [117]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [118]:
# Your code here
aggregate1 = set3.union(set4, set5)
aggregate2 = set1.union(set2)

if aggregate1 == aggregate2:
    print("Yes they are.")

Yes they are.

#### Using the `pop` method, remove the first element from `set1`.

In [119]:
# Your code here
# I can't really I guess because sets are unordered and pop is arbitrary.

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [120]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for x in list_to_remove:
    if x in set1:
        set1.remove(x)
print(set1)
print(len(set1))

{2, 4, 5, 6, 7, 10, 12, 13, 16, 17, 20, 22, 23, 24, 25, 26, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 72, 74, 75, 77, 78, 80, 82, 85, 86, 87, 88, 90, 92, 93, 95, 96, 98}
63