## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

sample_list_1 = random.sample(range(0,100), 80)
print(sample_list_1)

[6, 84, 50, 63, 2, 36, 89, 31, 61, 48, 58, 4, 90, 13, 55, 39, 23, 44, 64, 78, 51, 62, 7, 79, 19, 41, 32, 70, 34, 65, 22, 0, 27, 28, 94, 80, 59, 18, 24, 21, 40, 92, 5, 43, 82, 37, 25, 97, 57, 99, 60, 76, 11, 15, 3, 93, 33, 52, 35, 38, 29, 98, 95, 16, 75, 66, 74, 77, 88, 72, 69, 96, 85, 56, 81, 9, 10, 26, 87, 71]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set((sample_list_1))
len(set1)

80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
#lst2 = [num for num in range(0,100)]
sample_list_2 = []  # creating an empty list

for i in range(80):   ## specifying how many time to iterate
    sample_list_2.append(random.randint(0,100))   # append the random values in empty list
print(sample_list_2)

[28, 59, 74, 89, 4, 79, 47, 0, 6, 4, 49, 79, 70, 88, 72, 75, 20, 51, 97, 33, 81, 24, 10, 16, 70, 1, 17, 54, 77, 30, 11, 96, 27, 17, 31, 5, 53, 42, 46, 11, 33, 80, 16, 72, 23, 8, 32, 11, 84, 85, 31, 82, 20, 94, 61, 82, 89, 92, 86, 68, 53, 71, 32, 99, 6, 33, 30, 91, 85, 41, 26, 78, 25, 44, 81, 24, 59, 0, 83, 94]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set((sample_list_2))
len(set2)

# -->>>> The sample_list_2 doesnot contains unique value so when we convert its in to set. The set length becomes less than its original list.

56

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{2, 3, 7, 9, 13, 15, 18, 19, 21, 22, 29, 34, 35, 36, 37, 38, 39, 40, 43, 48, 50, 52, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 69, 76, 87, 90, 93, 95, 98}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2.difference(set1)
set4

{1, 8, 17, 20, 30, 42, 46, 47, 49, 53, 54, 68, 83, 86, 91}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 4, 5, 6, 10, 11, 16, 23, 24, 25, 26, 27, 28, 31, 32, 33, 41, 44, 51, 59, 61, 70, 71, 72, 74, 75, 77, 78, 79, 80, 81, 82, 84, 85, 88, 89, 92, 94, 96, 97, 99}

#### 8 - Create an empty set called `set6`.

In [9]:
# Your code here
set6 = set(())
type(set6)

set

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [10]:
# Your code here
set6.update((set3))
set6.update((set5))
print(set6)

{0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13, 15, 16, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 48, 50, 51, 52, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

#### 10 - Check if `set1` and `set6` are equal.

In [11]:
# Your code here
set1.difference(set6)
# Both set are equal

set()

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [12]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [13]:
# Your code here : ->>> using set union and  boolean operator
print((set3.union(set4,set5)))
print((set1.union(set2)))
print((set3.union(set4,set5)) == (set1.union(set2)))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
True

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [14]:
# Your code here
# since set's are unordered and pop methon will remove any element from set. 
# To remove specific item using pop method we can convert set in to list and pop the first item and again convert into set. 
lst = list(set1)
lst.pop(0)
set1 = set(lst)
set1

{2,
 3,
 4,
 5,
 6,
 7,
 9,
 10,
 11,
 13,
 15,
 16,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 43,
 44,
 48,
 50,
 51,
 52,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 69,
 70,
 71,
 72,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 84,
 85,
 87,
 88,
 89,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [15]:
list_to_remove = [1,9,11,19,21,29,31,39,41,49,51,59,61,69,71,79,81,89,91,99]
# To remove specific item form set we can use "remove" but if the items is not in the list it will cause error. 
# Alternative to remove we can use "discard" which will remove the item if it is in the set without causing any error. 
for elem in list_to_remove:
    set1.remove(elem)
print(set1)

KeyError: 1

In [16]:
# Your code here
for elem in list_to_remove:
    set1.discard(elem)
print(set1)

{2, 3, 4, 5, 6, 7, 10, 13, 15, 16, 18, 22, 23, 24, 25, 26, 27, 28, 32, 33, 34, 35, 36, 37, 38, 40, 43, 44, 48, 50, 52, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 70, 72, 74, 75, 76, 77, 78, 80, 82, 84, 85, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [17]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [18]:
# Your code here
father_set = set(father_list)
mother_set = set(mother_list)
Jo_set = set(Jo_list)
Carlos_set = set(Carlos_list)
Mattia_set = set(Mattia_list)

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [19]:
# Your code here
Mattia_set = Carlos_set.symmetric_difference(Jo_set)
print(Mattia_set)

{'yogurt', 'cucumber', 'watermelon', 'juice', 'flour', 'sugar', 'water', 'cherries', 'toilet paper', 'gums', 'milk'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [20]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['bread', 'garlic', 'mushrooms', 'tomatoes', 'deodorant', 'blueberries', 'flour', 'juice', 'yogurt', 'vinegar']

In [21]:
# Your code here
mother_set = set(mother_list)
print(mother_set)

{'blueberries', 'tomatoes', 'garlic', 'yogurt', 'juice', 'vinegar', 'flour', 'deodorant', 'mushrooms', 'bread'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [22]:
# Your code here
list_variable = [father_set, mother_set, Jo_set, Carlos_set, Mattia_set]
for lst in list_variable:
    lst.discard("toilet paper")

print(father_set)
print(mother_set)
print(Jo_set)
print(Carlos_set)
print(Mattia_set)

{'yogurt', 'garlic', 'cucumber', 'watermelon', 'onions', 'flour', 'gums'}
{'blueberries', 'tomatoes', 'garlic', 'yogurt', 'juice', 'vinegar', 'flour', 'deodorant', 'mushrooms', 'bread'}
{'blueberries', 'tomatoes', 'yogurt', 'garlic', 'cucumber', 'watermelon', 'juice', 'onions', 'sugar', 'gums', 'milk'}
{'blueberries', 'tomatoes', 'garlic', 'onions', 'flour', 'water', 'cherries'}
{'yogurt', 'cucumber', 'watermelon', 'juice', 'flour', 'sugar', 'water', 'cherries', 'gums', 'milk'}

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [23]:
# Your code here
house_list = set.union(father_set, mother_set, Jo_set, Carlos_set, Mattia_set)
print(house_list)

{'yogurt', 'blueberries', 'garlic', 'watermelon', 'juice', 'vinegar', 'water', 'gums', 'milk', 'bread', 'tomatoes', 'cucumber', 'onions', 'flour', 'sugar', 'deodorant', 'mushrooms', 'cherries'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [219]:
# Your code here
buy_items = []
for i in range(5):
    item = house_list.pop()
    buy_items.append(item)
print(buy_items)

['yogurt', 'deodorant', 'cherries', 'gums', 'blueberries']