## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element.*

In [11]:
# Your code here


tup = ("I",)

In [10]:
tup

('I',)

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [12]:
# Your code here
print(type(tup))

<class 'tuple'>

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [26]:
# Your code here
tup = list(("I",))
tup.extend(["r", "o", "n", "h", "a", "c", "k",])
tup


# Your explanation here
To append elements on a tuple you have to turn it into a list. On this case, I used extend instead of append because it allows me to add multiple values at once. With append I would have to add value per value.
After the elements were added, I created a new variable to be able to change the tup type again to tuple.

['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k']

In [29]:
tup1 = tuple(tup)

In [30]:
tup1

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [31]:
type(tup1)

tuple

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [32]:
# Your code here
tup = tup1


# Your explanation here
I just renamed the tup1 to tup and it was re-assigned as tuple.

In [33]:
tup

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [34]:
type(tup)

tuple

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [38]:
tup

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [40]:
list(tup)

['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k']

In [41]:
tup1 = tup[0:4]

In [42]:
tup1

('I', 'r', 'o', 'n')

In [56]:
tuple(tup1)

('I', 'r', 'o', 'n')

In [57]:
type(tup1)

tuple

In [54]:
tup2 = tup[-4:]

In [55]:
tup2

('h', 'a', 'c', 'k')

In [58]:
tuple(tup2)

('h', 'a', 'c', 'k')

In [59]:
type(tup2)

tuple

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [60]:
# Your code here
tup3 = tup1 + tup2

In [61]:
tup3

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [64]:
if tup3 == tup:
    print(True)
else:
    print(False)

True

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`

In [69]:
# Your code here
tup1 = ('I', 'r', 'o', 'n')

len(tup1)

4

In [70]:
len(tup2)

4

In [73]:
if len(tup1) + len(tup2) == len(tup3):
    print(True)
else:
    print(False)

True

In [74]:
len(tup3)

8

#### What is the index number of `"h"` in `tup3`?

In [75]:
# Your code here
tup3

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [78]:
index = tup3.index("h")
print(index)

4

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [106]:
# Your code here
letters = ["a", "b", "c", "d", "e"]
tup3 = ('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [97]:
tup_list = list(tup3)

In [98]:
type(tup_list)

list

In [104]:
tup_list

['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k']

In [107]:
letters

['a', 'b', 'c', 'd', 'e']

In [116]:
set_tup_list = set(tup_list)

In [117]:
set_letters = set(letters)

In [118]:
type(set_tup_list)

set

In [120]:
type(set_letters)

set

In [121]:
set_tup_list

{'I', 'a', 'c', 'h', 'k', 'n', 'o', 'r'}

In [122]:
set_letters

{'a', 'b', 'c', 'd', 'e'}

In [ ]:
set_tup_list = {'I', 'a', 'c', 'h', 'k', 'n', 'o', 'r'}
set_letters = {'a', 'b', 'c', 'd', 'e'}

In [123]:
set_letters.intersection(set_tup_list)

{'a', 'c'}

In [157]:
tup_list = ['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k']
letters = ['a', 'b', 'c', 'd', 'e']


for letter in letters:
    if letter in letters:
        if letter == letter in tup_list:
            print(True)
        else:
            print(False)

True
False
True
False
False

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [177]:
output = {}
for letter in set(tup_list):
    cnt = letters.count(letter)
    if cnt > 0:
        output[letter] = cnt
        
output

{'a': 1, 'c': 1}