## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1=random.sample(range(100), k = 80)

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [16]:
# Your code here
set1=set(sample_list_1)
print (set1)
print (len(set1))

{0, 1, 3, 5, 6, 8, 9, 10, 12, 14, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 61, 63, 65, 66, 67, 68, 69, 71, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
full_list=[]
for value in range(100):
    full_list.append(value)

sample_list_2=[]
for x in range(80):
    sample_list_2.append(random.choice(full_list))

print (sample_list_2)

[39, 32, 1, 25, 40, 20, 81, 35, 86, 10, 4, 56, 5, 85, 29, 97, 44, 12, 88, 33, 50, 85, 87, 21, 44, 60, 62, 1, 60, 78, 69, 47, 61, 74, 16, 16, 96, 88, 89, 87, 61, 81, 85, 71, 1, 54, 58, 90, 92, 19, 14, 27, 74, 89, 70, 36, 46, 39, 32, 99, 10, 29, 53, 62, 54, 48, 28, 14, 10, 16, 72, 0, 8, 59, 65, 11, 60, 12, 20, 46]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [17]:
# Your code here
set2=set(sample_list_2)
print (set2)
print(len(set2))

{0, 1, 4, 5, 8, 10, 11, 12, 14, 16, 19, 20, 21, 25, 27, 28, 29, 32, 33, 35, 36, 39, 40, 44, 46, 47, 48, 50, 53, 54, 56, 58, 59, 60, 61, 62, 65, 69, 70, 71, 72, 74, 78, 81, 85, 86, 87, 88, 89, 90, 92, 96, 97, 99}
54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [20]:
# Your code here
list3=[]
for element in set1:
    if element not in set2:
        list3.append(element)  
set3=set(list3)

print (set3)

{3, 6, 9, 22, 23, 24, 26, 30, 31, 34, 38, 41, 42, 43, 45, 49, 51, 52, 57, 63, 66, 67, 68, 73, 75, 77, 79, 80, 82, 83, 84, 91, 93, 94, 95, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [21]:
# Your code here
list4=[]
for element in set2:
    if element not in set1:
        list4.append(element)
set4=set(list4)

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [22]:
# Your code here
set5=set1.intersection(set2)

print (set5)

{0, 1, 5, 8, 10, 12, 14, 19, 20, 25, 27, 28, 29, 32, 33, 35, 36, 39, 40, 44, 46, 47, 48, 50, 53, 54, 56, 58, 59, 61, 65, 69, 71, 74, 78, 81, 86, 87, 88, 89, 90, 92, 96, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [24]:
# Your code here

len_set_1_and_2=len(set3)+len(set4)+2*len(set5)

if len(set1)+len(set2)==len(set3)+len(set4)+2*len(set5):
    print ('The mathematical relationship is:' + 'len(set1)=len(set3)+len(set4)+2*len(set5)-len(set2)')

The mathematical relationship is:len(set1)=len(set3)+len(set4)+2*len(set5)-len(set2)

#### Create an empty set called `set6`.

In [26]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [27]:
# Your code here
set6.update(set3)
set6.update(set5)
print (set6)

{0, 1, 3, 5, 6, 8, 9, 10, 12, 14, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 61, 63, 65, 66, 67, 68, 69, 71, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [28]:
# Your code here
if set1==set6:
    print (True)
else:
    print (False)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [29]:
# Your code here
z=set2.issubset(set1)
print (z)

y=set3.issubset(set1)
print (y)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [30]:
# Your code here
set3.union(set4,set5)

{0,
 1,
 3,
 4,
 5,
 6,
 8,
 9,
 10,
 11,
 12,
 14,
 16,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}

In [31]:
set1.union(set2)

{0,
 1,
 3,
 4,
 5,
 6,
 8,
 9,
 10,
 11,
 12,
 14,
 16,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}

#### Using the `pop` method, remove the first element from `set1`.

In [32]:
# Your code here
set1.remove(0)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [35]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for element in list_to_remove:
    if element in set1:
        set1.remove(element)
print (set1)

{3, 5, 6, 8, 10, 12, 14, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 56, 57, 58, 63, 65, 66, 67, 68, 73, 74, 75, 77, 78, 80, 82, 83, 84, 86, 87, 88, 90, 92, 93, 94, 95, 96, 98}
61