## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [4]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [10]:
# Your code here
sample_list_1 = random.sample(range(100), 80)
print(sample_list_1[:10])

[71, 53, 30, 86, 85, 47, 32, 99, 52, 84]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [29]:
# Your code here
set1 = set(sample_list_1)
set1

# (yes, length and order is the same)

{0,
 1,
 3,
 4,
 5,
 6,
 8,
 9,
 10,
 11,
 12,
 13,
 15,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 26,
 27,
 28,
 29,
 30,
 32,
 35,
 36,
 37,
 39,
 40,
 41,
 42,
 43,
 45,
 46,
 47,
 48,
 49,
 51,
 52,
 53,
 54,
 55,
 57,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 76,
 77,
 79,
 80,
 81,
 83,
 84,
 85,
 86,
 87,
 88,
 90,
 92,
 94,
 95,
 96,
 97,
 98,
 99}

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [30]:
import random

sample_list_2 = []

for a in range(80):
    value = random.randint(0, 100)
    sample_list_2.append(value)

print(sample_list_2)

[95, 53, 74, 42, 0, 45, 9, 21, 36, 20, 41, 6, 0, 87, 98, 13, 9, 69, 93, 37, 27, 34, 34, 48, 31, 63, 14, 46, 73, 43, 22, 96, 25, 20, 6, 90, 64, 50, 40, 90, 59, 99, 89, 42, 54, 31, 47, 26, 72, 93, 71, 61, 31, 79, 35, 14, 80, 20, 44, 49, 58, 5, 37, 50, 10, 83, 0, 5, 19, 27, 93, 83, 23, 31, 88, 32, 35, 8, 9, 10]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [31]:
# Your code here
set2 = set(sample_list_2)
print(set2)

#length?

print(len(set2))

{0, 5, 6, 8, 9, 10, 13, 14, 19, 20, 21, 22, 23, 25, 26, 27, 31, 32, 34, 35, 36, 37, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 53, 54, 58, 59, 61, 63, 64, 69, 71, 72, 73, 74, 79, 80, 83, 87, 88, 89, 90, 93, 95, 96, 98, 99}
57

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [32]:
# Your code here
print(set1)
print(set2)

set3 = set1 - set2

print(set3)

{0, 1, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 32, 35, 36, 37, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 57, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 79, 80, 81, 83, 84, 85, 86, 87, 88, 90, 92, 94, 95, 96, 97, 98, 99}
{0, 5, 6, 8, 9, 10, 13, 14, 19, 20, 21, 22, 23, 25, 26, 27, 31, 32, 34, 35, 36, 37, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 53, 54, 58, 59, 61, 63, 64, 69, 71, 72, 73, 74, 79, 80, 83, 87, 88, 89, 90, 93, 95, 96, 98, 99}
{1, 3, 4, 11, 12, 15, 17, 18, 24, 28, 29, 30, 39, 51, 52, 55, 57, 60, 62, 65, 67, 68, 70, 76, 77, 81, 84, 85, 86, 92, 94, 97}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [33]:
# Your code here
print(set1)
print(set2)

set4 = set2 - set1

print(set4)

{0, 1, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 32, 35, 36, 37, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 57, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 79, 80, 81, 83, 84, 85, 86, 87, 88, 90, 92, 94, 95, 96, 97, 98, 99}
{0, 5, 6, 8, 9, 10, 13, 14, 19, 20, 21, 22, 23, 25, 26, 27, 31, 32, 34, 35, 36, 37, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 53, 54, 58, 59, 61, 63, 64, 69, 71, 72, 73, 74, 79, 80, 83, 87, 88, 89, 90, 93, 95, 96, 98, 99}
{89, 34, 44, 14, 50, 25, 58, 93, 31}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [35]:
# Your code here

set5 = set1 & set2

set5

{0,
 5,
 6,
 8,
 9,
 10,
 13,
 19,
 20,
 21,
 22,
 23,
 26,
 27,
 32,
 35,
 36,
 37,
 40,
 41,
 42,
 43,
 45,
 46,
 47,
 48,
 49,
 53,
 54,
 59,
 61,
 63,
 64,
 69,
 71,
 72,
 73,
 74,
 79,
 80,
 83,
 87,
 88,
 90,
 95,
 96,
 98,
 99}

#### 8 - Create an empty set called `set6`.

In [37]:
# Your code here

set6 = {}

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [44]:
# Your code here

# set6.update(set3)
# set6.update(set5)  --> Getting Typeerror cause of 0 value from set3 and set5
# set6

# for element in set3:
#     if element != 0:
#         set6.update(set3)
                                # --> Same issue
# for element in set5:
#     if element != 0:
#         set6.update(set5)

set6 = set3.union(set5)

print(set6)

{0, 1, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 32, 35, 36, 37, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 57, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 79, 80, 81, 83, 84, 85, 86, 87, 88, 90, 92, 94, 95, 96, 97, 98, 99}

#### 10 - Check if `set1` and `set6` are equal.

In [47]:
# Your code here
if set1 == set6:
    print("they are equal")
else:
    print("they are not equal")

they are equal

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [48]:
# Your code here

if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

if set3.issubset(set1):
    print("set3 is a subset of set1")
else:
    print("set3 is not a subset of set1")

set2 is not a subset of set1
set3 is a subset of set1

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [49]:
# Your code here
bigset1 = set3.union(set4, set5)
print("Aggregated set3, set4, and set5:", bigset1)


bigset2 = set1.union(set2)
print("Aggregated set1 and set2:", bigset2)

if bigset1 == bigset2:
    print("The aggregated sets are equal")
else:
    print("The aggregated sets are not equal")

Aggregated set3, set4, and set5: {0, 1, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}
Aggregated set1 and set2: {0, 1, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}
The aggregated sets are equal

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [50]:
# Your code here
removed_element = set1.pop()

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [52]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1.difference_update(list_to_remove)

print("Remaining elements in set1:", set1)

Remaining elements in set1: {3, 4, 5, 6, 8, 10, 12, 13, 15, 17, 18, 20, 22, 23, 24, 26, 27, 28, 30, 32, 35, 36, 37, 40, 42, 43, 45, 46, 47, 48, 52, 53, 54, 55, 57, 60, 62, 63, 64, 65, 67, 68, 70, 72, 73, 74, 76, 77, 80, 83, 84, 85, 86, 87, 88, 90, 92, 94, 95, 96, 97, 98}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [64]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

grocery_list = []

grocery_list.append(father_list)
grocery_list.append(mother_list)
grocery_list.append(Jo_list)
grocery_list.append(Mattia_list)
grocery_list.append(Carlos_list)

unique_grocery_list = []

for sublist in grocery_list:
    for element in sublist:
        if element not in unique_grocery_list:
            unique_grocery_list.append(element)

print("Grocery list with unique elements:")
print(grocery_list)

Grocery list with unique elements:
[['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic'], [], ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt'], [], ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']]

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [ ]:
# Your code here
#But originally mother and Mattia were empty, I don't know to whom the repeated elements belong

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [66]:
# Your code here
mattia_list_items = set(Carlos_list).symmetric_difference(set(Jo_list))
mattia_list_items

{'cherries',
 'cucumber',
 'flour',
 'gums',
 'juice',
 'milk',
 'sugar',
 'toilet paper',
 'water',
 'watermelon',
 'yogurt'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [79]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items, k=100) # https://docs.python.org/3/library/random.html

mother_set = set(mother_list)

print(mother_list)
print(mother_set)

['toilet paper', 'mushrooms', 'tomatoes', 'vinegar', 'shampoo', 'tomatoes', 'bread', 'oranges', 'flour', 'bread', 'gums', 'flour', 'onions', 'bread', 'cucumber', 'juice', 'gums', 'oranges', 'oranges', 'tomatoes', 'onions', 'watermelon', 'cucumber', 'oranges', 'tomatoes', 'sugar', 'mushrooms', 'toilet paper', 'bread', 'gums', 'deodorant', 'chocolate', 'gums', 'vinegar', 'blueberries', 'cucumber', 'gums', 'gums', 'water', 'vinegar', 'juice', 'oranges', 'water', 'onions', 'garlic', 'onions', 'yogurt', 'vinegar', 'onions', 'sugar', 'milk', 'onions', 'sugar', 'mushrooms', 'onions', 'onions', 'water', 'blueberries', 'yogurt', 'garlic', 'cucumber', 'cucumber', 'onions', 'yogurt', 'chocolate', 'deodorant', 'milk', 'blueberries', 'toilet paper', 'garlic', 'bread', 'garlic', 'cherries', 'chocolate', 'cherries', 'garlic', 'bread', 'watermelon', 'juice', 'vinegar', 'blueberries', 'vinegar', 'milk', 'water', 'oranges', 'cucumber', 'blueberries', 'onions', 'oranges', 'cherries', 'gums', 'yogurt', 'oranges', 'flour', 'juice', 'sugar', 'cucumber', 'flour', 'bread', 'mushrooms']
{'deodorant', 'shampoo', 'bread', 'sugar', 'cherries', 'oranges', 'garlic', 'toilet paper', 'flour', 'tomatoes', 'blueberries', 'mushrooms', 'cucumber', 'chocolate', 'water', 'yogurt', 'watermelon', 'gums', 'juice', 'milk', 'onions', 'vinegar'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [84]:
# Your code here
mother_list = [item for item in mother_list if item != "toilet paper"]

mother_set.discard("toilet paper")

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [88]:
# Your code here
#Wouldn't that already be mother_set?

# print(mother_set) --> nope, there are some missing

mother_set.update(mother_list)
mother_set

{'blueberries',
 'bread',
 'cherries',
 'chocolate',
 'cucumber',
 'deodorant',
 'flour',
 'garlic',
 'gums',
 'juice',
 'milk',
 'mushrooms',
 'onions',
 'oranges',
 'shampoo',
 'sugar',
 'tomatoes',
 'vinegar',
 'water',
 'watermelon',
 'yogurt'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [92]:
# Your code here

for i in range(len(mother_set) - 5):
    mother_set.pop()

mother_set

{'gums', 'juice', 'milk', 'onions', 'vinegar'}