## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
import random
sample_list_1 = [x for x in random.sample(range(100), 80)]
print(sample_list_1)

[48, 93, 73, 95, 89, 13, 66, 83, 72, 58, 49, 59, 30, 41, 47, 35, 7, 51, 80, 78, 43, 85, 64, 56, 5, 36, 20, 71, 21, 84, 4, 15, 87, 79, 25, 57, 0, 16, 77, 6, 38, 62, 53, 1, 82, 12, 68, 14, 54, 27, 17, 96, 11, 86, 22, 92, 19, 42, 55, 34, 60, 39, 37, 74, 46, 24, 44, 70, 31, 99, 94, 65, 45, 91, 33, 69, 10, 23, 61, 18]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
if len(set1) == len(sample_list_1):
    print("Yeap!")
else:
    print("No! WTF???")

Yeap!

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = []
for i in range(100):
    sample_list_2.append(random.choice(range(100)))
print(sample_list_2)

[52, 56, 53, 56, 44, 82, 62, 4, 70, 40, 7, 17, 36, 88, 20, 67, 52, 93, 52, 5, 15, 67, 56, 13, 73, 67, 23, 33, 5, 21, 66, 47, 33, 30, 21, 40, 44, 20, 92, 17, 2, 92, 81, 20, 2, 54, 78, 79, 35, 98, 6, 92, 1, 50, 46, 91, 14, 0, 82, 42, 47, 66, 19, 99, 36, 63, 38, 20, 90, 61, 31, 34, 41, 4, 99, 54, 35, 19, 20, 60, 42, 67, 53, 12, 74, 97, 40, 70, 25, 66, 97, 10, 19, 88, 91, 11, 32, 52, 9, 82]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
if len(set2) == len(sample_list_2):
    print("Yeap!")
else:
    print("No! WTF???")

No! WTF???

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set1.intersection(set2)
print(set3)

{0, 1, 4, 5, 6, 7, 10, 11, 12, 13, 14, 15, 17, 19, 20, 21, 23, 25, 30, 31, 33, 34, 35, 36, 38, 41, 42, 44, 46, 47, 53, 54, 56, 60, 61, 62, 66, 70, 73, 74, 78, 79, 82, 91, 92, 93, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set2 - set1
print(set4)

{32, 97, 2, 67, 98, 40, 9, 81, 50, 52, 88, 90, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1.union(set2)
print(set5)

{0, 1, 2, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# import statistics 
# x = statistics.mean(set5) 
 
# print("Correlation/Mean is :", x)

#### Create an empty set called `set6`.

In [10]:
set6 =()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3)
set6.update(set5)
print(set6)

AttributeError: 'tuple' object has no attribute 'update'

#### Check if `set1` and `set6` are equal.

In [13]:
if set1 == set6:
    print("Yeap")
else:
    print("Nops!!! WTF ???")

Nops!!! WTF ???

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [12]:
if set2.issubset(set1):
    print("set1 contains set2")
else:
    print("set1 not contain set2")

    
if set3.issubset(set1):
    print("set1 contains set3")
else:
    print("set1 does not contain set3")

set1 not contain set2
set1 contains set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
sets_3_4_5 = set3.union(set4, set5)
print(sets_3_4_5)

sets_1_2 = set1.union(set2)
print(sets_1_2)

if sets_1_2 == sets_3_4_5:
    print("equal")
else:
    print("Not equal")

{0, 1, 2, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
equal

#### Using the `pop` method, remove the first element from `set1`.

In [17]:
set1.pop()
print(set1)

{4, 5, 6, 7, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 30, 31, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 89, 91, 92, 93, 94, 95, 96, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [18]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:
    if element in set1:
        set1.remove(element)
print(set1)

{4, 5, 6, 7, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 27, 30, 33, 34, 35, 36, 37, 38, 42, 43, 44, 45, 46, 47, 48, 53, 54, 55, 56, 57, 58, 60, 62, 64, 65, 66, 68, 70, 72, 73, 74, 77, 78, 80, 82, 83, 84, 85, 86, 87, 92, 93, 94, 95, 96}