## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(0,101),k=80)

print(sample_list_1)

[1, 50, 18, 54, 73, 100, 61, 8, 93, 30, 95, 49, 52, 28, 13, 58, 86, 92, 83, 60, 9, 70, 41, 16, 36, 46, 59, 96, 29, 98, 68, 89, 27, 24, 66, 11, 77, 22, 6, 76, 45, 71, 87, 78, 72, 90, 40, 42, 26, 79, 31, 55, 56, 65, 2, 35, 21, 53, 48, 57, 80, 62, 64, 99, 33, 32, 43, 3, 23, 14, 10, 67, 19, 97, 25, 69, 63, 34, 82, 20]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)

print(set1)
print(len(set1))

{1, 2, 3, 6, 8, 9, 10, 11, 13, 14, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 40, 41, 42, 43, 45, 46, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 76, 77, 78, 79, 80, 82, 83, 86, 87, 89, 90, 92, 93, 95, 96, 97, 98, 99, 100}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = [random.randint(0,100) for i in range(80)]

print(sample_list_2)

[37, 38, 89, 18, 5, 29, 89, 0, 80, 70, 4, 94, 77, 2, 44, 72, 21, 60, 51, 68, 76, 58, 57, 71, 45, 96, 84, 99, 23, 6, 15, 19, 32, 83, 99, 5, 5, 17, 75, 53, 69, 87, 36, 54, 83, 39, 20, 73, 59, 67, 0, 92, 53, 83, 14, 50, 64, 49, 38, 34, 22, 60, 63, 83, 47, 60, 32, 76, 23, 26, 56, 71, 8, 6, 49, 90, 47, 49, 87, 82]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)

print(len(set2))
print(set2)

#Length is not the same because the list had values that were unique.

59
{0, 2, 4, 5, 6, 8, 14, 15, 17, 18, 19, 20, 21, 22, 23, 26, 29, 32, 34, 36, 37, 38, 39, 44, 45, 47, 49, 50, 51, 53, 54, 56, 57, 58, 59, 60, 63, 64, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 80, 82, 83, 84, 87, 89, 90, 92, 94, 96, 99}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [16]:
# Your code here
set3 = set1.difference(set2)

print (set3)
print(len(set3))

{1, 3, 9, 10, 11, 13, 16, 24, 25, 27, 28, 30, 31, 33, 35, 40, 41, 42, 43, 46, 48, 52, 55, 61, 62, 65, 66, 78, 79, 86, 93, 95, 97, 98, 100}
35

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here

set4 = set2.difference(set1)
print(set4)

{0, 4, 5, 37, 38, 39, 75, 44, 15, 47, 17, 51, 84, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)

print (set5)

{2, 6, 8, 14, 18, 19, 20, 21, 22, 23, 26, 29, 32, 34, 36, 45, 49, 50, 53, 54, 56, 57, 58, 59, 60, 63, 64, 67, 68, 69, 70, 71, 72, 73, 76, 77, 80, 82, 83, 87, 89, 90, 92, 96, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [29]:
# Your code here

print(len(set1) == len(set3) + len(set5))
print(len(set2) == len(set4) + len(set5))

True
True

#### Create an empty set called `set6`.

In [ ]:
# Your code here
set6 = set( )

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here
set6.update(set3)

print(set6)

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here
len(set1)==len(set2)

#The sets are not equal since they do not have the same length

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here
print(set2.issubset(set1))

print(set3.issubset(set1))

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here
ag1 = set3.union(set4,set5)
ag2 = set1.union(set2)

print(ag1 == ag2)

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

"""I don't think you can remove the first element from set1 with pop.

Pop removes a random item and returns the removed item."""

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set_to_remove = set(list_to_remove)

print(set_to_remove)

set1.difference_update(set_to_remove)

print(set1)