## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [310]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [311]:
# Your code here
import random
sample_list_1 = random.sample(range(1, 100), 80)
print(sample_list_1)

[60, 37, 93, 59, 39, 9, 81, 50, 16, 48, 56, 65, 57, 71, 42, 86, 63, 44, 12, 82, 89, 10, 76, 87, 61, 3, 25, 31, 13, 14, 21, 51, 28, 74, 83, 1, 55, 35, 49, 68, 88, 54, 32, 97, 58, 92, 29, 2, 84, 43, 66, 18, 53, 94, 11, 17, 85, 45, 22, 67, 30, 69, 90, 77, 52, 80, 95, 98, 38, 62, 79, 4, 15, 64, 47, 24, 27, 8, 73, 99]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [312]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))
print(set1)

80
{1, 2, 3, 4, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 21, 22, 24, 25, 27, 28, 29, 30, 31, 32, 35, 37, 38, 39, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 73, 74, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 97, 98, 99}

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [313]:
# Your code here
import random

sample_list_2 = []

for i in range(80):
    r = random.randint(0,100)
    sample_list_2.append(r)
    
print(sample_list_2)

[23, 43, 41, 98, 18, 73, 35, 73, 92, 57, 44, 22, 53, 7, 80, 10, 63, 49, 67, 27, 81, 42, 26, 50, 78, 44, 83, 30, 83, 29, 53, 23, 37, 36, 78, 87, 79, 73, 84, 56, 85, 21, 22, 92, 61, 78, 12, 63, 91, 69, 23, 71, 75, 32, 32, 72, 73, 14, 1, 98, 68, 12, 89, 28, 87, 56, 64, 39, 59, 80, 72, 3, 54, 58, 40, 90, 77, 25, 45, 10]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [314]:
# Your code here
set2 = set(sample_list_2)
print(sample_list_2)
print("Length of Sample_list_2:",len(sample_list_2))
print(set2)
print("Length of Set2:",len(set2))
#Sets don't allow repeated content and organize the content from < to >

[23, 43, 41, 98, 18, 73, 35, 73, 92, 57, 44, 22, 53, 7, 80, 10, 63, 49, 67, 27, 81, 42, 26, 50, 78, 44, 83, 30, 83, 29, 53, 23, 37, 36, 78, 87, 79, 73, 84, 56, 85, 21, 22, 92, 61, 78, 12, 63, 91, 69, 23, 71, 75, 32, 32, 72, 73, 14, 1, 98, 68, 12, 89, 28, 87, 56, 64, 39, 59, 80, 72, 3, 54, 58, 40, 90, 77, 25, 45, 10]
Length of Sample_list_2: 80
{1, 3, 7, 10, 12, 14, 18, 21, 22, 23, 25, 26, 27, 28, 29, 30, 32, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 49, 50, 53, 54, 56, 57, 58, 59, 61, 63, 64, 67, 68, 69, 71, 72, 73, 75, 77, 78, 79, 80, 81, 83, 84, 85, 87, 89, 90, 91, 92, 98}
Length of Set2: 59

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [315]:
# Your code here
set3 = set1-set2

print(set3)

{2, 4, 8, 9, 11, 13, 15, 16, 17, 24, 31, 38, 47, 48, 51, 52, 55, 60, 62, 65, 66, 74, 76, 82, 86, 88, 93, 94, 95, 97, 99}

6 - Identify the elements present in set2 but not in set1. Assign the elements to a new set named set4

In [316]:
# Your code here
set4 = set2-set1

print(set4)

{36, 7, 40, 41, 72, 75, 78, 23, 26, 91}

7 -Now Identify the elements shared between set1 and set2. Assign the elements to a new set named set5

In [317]:
# Your code here
set5 = set()
#for el1 in set1:
#    for el2 in set2:
#        if el1 == el2:
#            set5.add(el1)
#print(set5)
set5 = set1.intersection(set2)
print(set5)

{1, 3, 10, 12, 14, 18, 21, 22, 25, 27, 28, 29, 30, 32, 35, 37, 39, 42, 43, 44, 45, 49, 50, 53, 54, 56, 57, 58, 59, 61, 63, 64, 67, 68, 69, 71, 73, 77, 79, 80, 81, 83, 84, 85, 87, 89, 90, 92, 98}

#### 8 - Create an empty set called `set6`.

In [318]:
# Your code here
set6 = set()

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [319]:
# Your code here
set6.update(set3)
set6.update(set5)

print(set6)

{1, 2, 3, 4, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 21, 22, 24, 25, 27, 28, 29, 30, 31, 32, 35, 37, 38, 39, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 73, 74, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 97, 98, 99}

#### 10 - Check if `set1` and `set6` are equal.

In [320]:
# Your code here
if set1==set6:
    print("They are.")

They are.

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [321]:
# Your code here

print("Set1 contains Set2 ?",set2.issubset(set1))
print("Set1 contains Set3 ?",set3.issubset(set1))

#print(set1)
#print(set3)

Set1 contains Set2 ? False
Set1 contains Set3 ? True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [322]:
# Your code here
#print(set3)
#print(set4)
#print(set5)
new_set345 = set3.union(set4)
#print(new_set)
new_set345 = new_set.union(set5)
print("Set3 and Set4 and Set5: ",new_set345)
new_set12 = set1.union(set2)
print(" ")
print("Set2 and Set3: ",new_set12)

Set3 and Set4 and Set5:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}

Set2 and Set3:  {1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [323]:
# Your code here
#print(set1)
set1.pop()
print(set1)

{2, 3, 4, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 21, 22, 24, 25, 27, 28, 29, 30, 31, 32, 35, 37, 38, 39, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 73, 74, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 97, 98, 99}

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [369]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove = set(list_to_remove)

new_list = set1 - set_to_remove
print(new_list)

{2, 3, 4, 8, 10, 12, 13, 14, 15, 16, 17, 18, 22, 24, 25, 27, 28, 30, 32, 35, 37, 38, 42, 43, 44, 45, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 73, 74, 76, 77, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 97, 98}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [370]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber','watermelon', 'yogurt', 'garlic']
mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt','juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes','onions', 'water', 'tomatoes', 'toilet paper']
Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [371]:
# Your code here

father_set = set(father_list)
mother_set = set(mother_list)
Jo_set = set(Jo_list)
Carlos_set = set(Carlos_list)
Mattia_set = set(Mattia_list)

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [372]:
# Your code here

Mattia_set = set(Carlos_set.symmetric_difference(Jo_set))
print(Mattia_set)

{'gums', 'yogurt', 'cucumber', 'water', 'juice', 'flour', 'milk', 'sugar', 'toilet paper', 'watermelon', 'cherries'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [373]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['onions', 'milk', 'oranges', 'garlic', 'water', 'gums', 'cucumber', 'tomatoes', 'tomatoes', 'watermelon']

In [374]:
# Your code here
mother_set = set(mother_list)
print(mother_set)

{'water', 'gums', 'cucumber', 'garlic', 'milk', 'oranges', 'watermelon', 'tomatoes', 'onions'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [375]:
# Your code here

fam_list =[father_set,mother_set,Jo_set,Carlos_set,Mattia_set]

for each_list in fam_list:
    each_list.discard("toilet paper")

#Each lists without Toilet Paper:
print("Father List: ",father_set)
print("Mother List: ",mother_set)
print("Jo List   : ",Jo_set)
print("Carlos List: ",Carlos_set)
print("Mattia List: ",Mattia_set)

Father List:  {'gums', 'yogurt', 'cucumber', 'garlic', 'flour', 'watermelon', 'onions'}
Mother List:  {'water', 'gums', 'cucumber', 'garlic', 'milk', 'oranges', 'watermelon', 'tomatoes', 'onions'}
Jo List   :  {'gums', 'yogurt', 'cucumber', 'juice', 'garlic', 'milk', 'sugar', 'blueberries', 'watermelon', 'tomatoes', 'onions'}
Carlos List:  {'water', 'garlic', 'flour', 'blueberries', 'cherries', 'tomatoes', 'onions'}
Mattia List:  {'gums', 'yogurt', 'cucumber', 'water', 'juice', 'flour', 'milk', 'sugar', 'watermelon', 'cherries'}

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [376]:
# Your code here
groceries = set(groceries.union(father_set,mother_set,Jo_set,Carlos_set,Mattia_set))

print("Shopping List: ",groceries)

Shopping List:  {'water', 'gums', 'cucumber', 'yogurt', 'juice', 'tomatoes', 'garlic', 'flour', 'milk', 'oranges', 'sugar', 'blueberries', 'watermelon', 'cherries', 'onions'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [377]:
# Your code here

size = len(groceries)

while (size > 5):
    groceries.pop()
    size-=1
    
print("Because I'm the Boss around here, the new shopping list is this:",groceries)

Because I'm the Boss around here, the new shopping list is this: {'sugar', 'blueberries', 'watermelon', 'cherries', 'onions'}