## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(100), 80)
print(sample_list_1)
print('\n')
print(len(sample_list_1))

[9, 15, 96, 78, 39, 50, 8, 46, 38, 85, 43, 11, 77, 29, 56, 91, 31, 25, 84, 22, 71, 14, 79, 7, 18, 27, 70, 90, 23, 33, 26, 93, 34, 36, 82, 4, 6, 67, 42, 69, 24, 2, 60, 20, 72, 48, 66, 83, 19, 35, 64, 30, 44, 68, 17, 51, 74, 73, 47, 12, 89, 81, 13, 86, 32, 5, 97, 53, 61, 99, 63, 37, 55, 59, 54, 98, 94, 75, 62, 41]


80

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print(set1)
print('\n')
print(len(sample_list_1))

{2, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 46, 47, 48, 50, 51, 53, 54, 55, 56, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 81, 82, 83, 84, 85, 86, 89, 90, 91, 93, 94, 96, 97, 98, 99}


80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [9]:
# Your code here
sample_list_2 = []

for element in range(80):
    number = random.sample(range(0, 100), 1)
    sample_list_2 = sample_list_2 + number


print(sample_list_2)
print('\n')
print(len(sample_list_2))

[75, 79, 3, 49, 10, 30, 11, 37, 7, 32, 36, 6, 16, 63, 27, 79, 92, 29, 78, 31, 93, 21, 46, 83, 18, 94, 47, 53, 19, 56, 51, 2, 49, 22, 45, 46, 7, 42, 23, 13, 95, 21, 99, 5, 73, 78, 76, 74, 98, 33, 51, 27, 62, 13, 30, 11, 3, 46, 30, 27, 76, 21, 4, 74, 22, 78, 95, 21, 92, 79, 90, 49, 78, 77, 36, 53, 28, 20, 82, 61]


80

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [20]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print(len(set2))

{2, 3, 4, 5, 6, 7, 10, 11, 13, 16, 18, 19, 20, 21, 22, 23, 27, 28, 29, 30, 31, 32, 33, 36, 37, 42, 45, 46, 47, 49, 51, 53, 56, 61, 62, 63, 73, 74, 75, 76, 77, 78, 79, 82, 83, 90, 92, 93, 94, 95, 98, 99}
52

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [52]:
# Your code here
#print(set1)
#print(set2)

set3 = set()

for element in range(100):
    if element in set1 and element not in set2:
        set3.add(element)
        


#set3 = set1.difference(set2)
print(set3)

{8, 9, 12, 14, 15, 17, 24, 25, 26, 34, 35, 38, 39, 41, 43, 44, 48, 50, 54, 55, 59, 60, 64, 66, 67, 68, 69, 70, 71, 72, 81, 84, 85, 86, 89, 91, 96, 97}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [51]:
# Your code here
set4 = set()
for element in range(100):
    if element in set2 and element not in set1:
        set4.add(element)

# set4 = set2.difference(set1)
print(set4)

{3, 10, 76, 45, 92, 16, 49, 21, 28, 95}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [27]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{2, 4, 5, 6, 7, 11, 13, 18, 19, 20, 22, 23, 27, 29, 30, 31, 32, 33, 36, 37, 42, 46, 47, 51, 53, 56, 61, 62, 63, 73, 74, 75, 77, 78, 79, 82, 83, 90, 93, 94, 98, 99}

#### 8 - Create an empty set called `set6`.

In [48]:
# Your code here
set6 = set()
type(set6)

set

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [49]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{2, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 46, 47, 48, 50, 51, 53, 54, 55, 56, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 81, 82, 83, 84, 85, 86, 89, 90, 91, 93, 94, 96, 97, 98, 99}

#### 10 - Check if `set1` and `set6` are equal.

In [57]:
# Your code here
set1 == set6

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [59]:
# Your code here
print(set2.issubset(set1))
set3.issubset(set1)

False

True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [63]:
# Your code here
set7 = set3.union(set4,set5)
print(set7)
set8 = set7.union(set1, set2)

set7 == set8

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

True

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [66]:
# Your code here
print(set1)
set_list = list(set1)

set_list.pop(0)
new_set1 = set(set_list)
print(new_set1)

{2, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 46, 47, 48, 50, 51, 53, 54, 55, 56, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 81, 82, 83, 84, 85, 86, 89, 90, 91, 93, 94, 96, 97, 98, 99}
{4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 46, 47, 48, 50, 51, 53, 54, 55, 56, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 81, 82, 83, 84, 85, 86, 89, 90, 91, 93, 94, 96, 97, 98, 99}

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [74]:
# Your code here
print(len(set1))
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

list_to_remove = set(list_to_remove)
#type(list_to_remove)
print(set1.difference(list_to_remove))
print(len(set1.difference(list_to_remove)))

80
{2, 4, 5, 6, 7, 8, 12, 13, 14, 15, 17, 18, 20, 22, 23, 24, 25, 26, 27, 30, 32, 33, 34, 35, 36, 37, 38, 42, 43, 44, 46, 47, 48, 50, 53, 54, 55, 56, 60, 62, 63, 64, 66, 67, 68, 70, 72, 73, 74, 75, 77, 78, 82, 83, 84, 85, 86, 90, 93, 94, 96, 97, 98}
63

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [115]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [116]:
# Your code here
father_set = set(father_list)
mother_set = set(mother_list)
jo_set = set(Jo_list)
carlos_set = set(Carlos_list)
mattia_set = set(Mattia_list)

family_set = set.union(father_set, jo_set, carlos_set)
print(family_set)

{'flour', 'gums', 'cucumber', 'onions', 'sugar', 'tomatoes', 'water', 'watermelon', 'blueberries', 'toilet paper', 'garlic', 'juice', 'yogurt', 'cherries', 'milk'}

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [117]:
# Your code here
mattia_set = jo_set.symmetric_difference(carlos_set)
print(mattia_set)

{'flour', 'cucumber', 'gums', 'juice', 'water', 'sugar', 'watermelon', 'toilet paper', 'yogurt', 'cherries', 'milk'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [118]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['milk', 'shampoo', 'shampoo', 'chocolate', 'shampoo', 'yogurt', 'mushrooms', 'onions', 'bread', 'cherries']

In [119]:
# Your code here
mother_set = set(mother_list)
print(mother_set)

{'milk', 'onions', 'bread', 'mushrooms', 'yogurt', 'cherries', 'chocolate', 'shampoo'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [121]:
# Your code here
prod_list = [father_set, mother_set, jo_set, mattia_set, carlos_set]

#updated_list =

for sets in prod_list:
    for item in sets:
        sets.discard('toilet paper')
        
print(prod_list)

RuntimeError: Set changed size during iteration

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [122]:
# Your code here
prod_set = family_set.union(mattia_set, mother_set)
#print(prod_set)
prod_set.discard('toilet paper')
print(prod_set)

{'flour', 'gums', 'cucumber', 'onions', 'bread', 'sugar', 'tomatoes', 'chocolate', 'shampoo', 'water', 'watermelon', 'mushrooms', 'blueberries', 'garlic', 'juice', 'yogurt', 'cherries', 'milk'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [125]:
# Your code here


father_set
print(father_set.pop())
father_set

onions

{'garlic', 'watermelon', 'yogurt'}